{% extends "accounts/base.html" %}
{% load static %}
{% block main %}

  <div>
    <section id="services " class="main_bg">
      <div class="container">
        <div class="row mainSignUp">
          <!--New Signup Design-->
          <section class="preview">
            <div class="text-center">
              <div class="row">

                <div class="col-lg-6 col-md-12">
                  <span class="login_register text-center">REGISTER YOUR ACCOUNT</span>

                  <!--*****Login/Registration Form*** -->
                  <div class="col-md-12 wow fadeInRight animated">

                    <div class="bs-example form_container">
                      <ul class="nav nav-tabs" id="myTab">
                        <li class="col-md-6 signUpButton active">
                          <a data-bs-toggle="tab" href="" id="toggleA">Sign Up</a>
                        </li>
                        <li class="col-md-6 loginButton">
                          <a data-bs-toggle="tab" href="" id="toggleB">Log In</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        {% block content %}
                          <!--*****Sign_Up/Register Tab**** -->
                          <div id="sectionA" class="tab-pane fade in active">
                            <form id="SignUpForm" action="/Account/Register" method="post">
                              <input name="__RequestVerificationToken" type="hidden" value="JgLbK7l6adCKYD7_3xubLgEr7--pYr0NdkGEh8pN3TWxyDwszNoMQgXycSDqzyXSCglHD4Ikq2Zm8yNzEAjrmgIIUttp-fzup-uo_8kBJ5s1"/>
                              <div class="card-panel">
                                <div class="modal-body" id="signup">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <input type="hidden" name="ReferrerID"/>
                                        <input type="hidden" name="RefrenceNo" value="0"/>
                                        <div class="col-md-12 paddingRow">
                                          <label for="txt_name">Name</label>
                                          <input id="txt_name" name="FullName" type="text" class="form-control" placeholder="Enter your name"/>

                                          <span id="nameError" class="text-danger password_require dis_none"></span>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <div class="col-md-12 paddingRow">
                                          <label for="txt_email">Email Address</label>
                                          <span id="spn_Emailerror" class="form_error dis_none" data-toggle="tooltip" title="" data-original-title="This email address is already taken"></span>
                                          <span id="spn_Emailconfirm" class="form_confirm dis_none" data-toggle="tooltip" title="" data-original-title="Email Available !"></span>
                                          <input name="Email" type="text" id="txt_email" class="form-control" placeholder="Enter your email address"/>
                                          <span id="emailError" class="text-danger password_require dis_none"></span>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <div class="col-md-12 paddingRow">
                                          <label for="txt_pass">Password</label>
                                          <input name="Password" type="password" id="txt_pass" autocomplete="new-password" class="form-control" controltovalidate="txt_pass" placeholder="Enter your password"/>
                                          <input name="txt_keyword" type="text" id="txt_keyword" class="dis_none"/>
                                          <span class="password_require" id="passwordError">Use 8 or more characters with a mix of letters, numbers & symbols.</span>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <div class="col-md-12 paddingRow">
                                          <span class="country-code">+1</span>
                                          <input type="hidden" id="CountryIsoCode" name="CountryIsoCode"/>
                                          <input type="hidden" id="Phonecode" name="PhoneCode" value="+1"/>
                                          <label for="countryddl">Phone Number</label>
                                          <select name="countrylist" id="countryddl" class="countrylist form-control">
                                            <option data-iso="AF" value="93">Afghanistan (+93)</option>
                                            <option data-iso="AX" value="358">Åland Islands (+358)</option>
                                            <option data-iso="AL" value="355">Albania (+355)</option>
                                            <option data-iso="DZ" value="213">Algeria (+213)</option>
                                            <option data-iso="AS" value="1684">American Samoa (+1684)</option>
                                            <option data-iso="AD" value="376">Andorra (+376)</option>
                                            <option data-iso="AO" value="244">Angola (+244)</option>
                                            <option data-iso="AI" value="1264">Anguilla (+1264)</option>
                                            <option data-iso="AG" value="1268">Antigua And Barbuda (+1268)</option>
                                            <option data-iso="AR" value="54">Argentina (+54)</option>
                                            <option data-iso="AM" value="374">Armenia (+374)</option>
                                            <option data-iso="AW" value="297">Aruba (+297)</option>
                                            <option data-iso="AU" value="61">Australia (+61)</option>
                                            <option data-iso="AT" value="43">Austria (+43)</option>
                                            <option data-iso="AZ" value="994">Azerbaijan (+994)</option>
                                            <option data-iso="BS" value="1242">Bahamas (+1242)</option>
                                            <option data-iso="BH" value="973">Bahrain (+973)</option>
                                            <option data-iso="BD" value="880">Bangladesh (+880)</option>
                                            <option data-iso="BB" value="1246">Barbados (+1246)</option>
                                            <option data-iso="BY" value="375">Belarus (+375)</option>
                                            <option data-iso="BE" value="32">Belgium (+32)</option>
                                            <option data-iso="BZ" value="501">Belize (+501)</option>
                                            <option data-iso="BJ" value="229">Benin (+229)</option>
                                            <option data-iso="BM" value="1441">Bermuda (+1441)</option>
                                            <option data-iso="BT" value="975">Bhutan (+975)</option>
                                            <option data-iso="BO" value="591">Bolivia (+591)</option>
                                            <option data-iso="BA" value="387">Bosnia And Herzegovina (+387)</option>
                                            <option data-iso="BW" value="267">Botswana (+267)</option>
                                            <option data-iso="BR" value="55">Brazil (+55)</option>
                                            <option data-iso="IO" value="246">British Indian Ocean Territory (+246)</option>
                                            <option data-iso="VG" value="1284">British Virgin Islands (+1284)</option>
                                            <option data-iso="BN" value="673">Brunei Darussalam (+673)</option>
                                            <option data-iso="BG" value="359">Bulgaria (+359)</option>
                                            <option data-iso="BF" value="226">Burkina Faso (+226)</option>
                                            <option data-iso="BI" value="257">Burundi (+257)</option>
                                            <option data-iso="KH" value="855">Cambodia (+855)</option>
                                            <option data-iso="CM" value="237">Cameroon (+237)</option>
                                            <option data-iso="CA" value="1">Canada (+1)</option>
                                            <option data-iso="CV" value="238">Cape Verde (+238)</option>
                                            <option data-iso="BQ" value="599">Caribbean Netherland (+599)</option>
                                            <option data-iso="KY" value="1345">Cayman Islands (+1345)</option>
                                            <option data-iso="CF" value="236">Central African Republic (+236)</option>
                                            <option data-iso="TD" value="235">Chad (+235)</option>
                                            <option data-iso="CL" value="56">Chile (+56)</option>
                                            <option data-iso="CN" value="86">China (+86)</option>
                                            <option data-iso="CX" value="61">Christmas Island (+61)</option>
                                            <option data-iso="CC" value="61">Cocos (Keeling) Islands (+61)</option>
                                            <option data-iso="CO" value="57">Colombia (+57)</option>
                                            <option data-iso="KM" value="269">Comoros (+269)</option>
                                            <option data-iso="CG" value="242">Congo (+242)</option>
                                            <option data-iso="CD" value="243">Congo (DRC) (+243)</option>
                                            <option data-iso="CK" value="682">Cook Islands (+682)</option>
                                            <option data-iso="CR" value="506">Costa Rica (+506)</option>
                                            <option data-iso="CI" value="225">Côte d'Ivoire (+225)</option>
                                            <option data-iso="HR" value="385">Croatia (+385)</option>
                                            <option data-iso="CU" value="53">Cuba (+53)</option>
                                            <option data-iso="CW" value="599">Curaçao (+599)</option>
                                            <option data-iso="CY" value="357">Cyprus (+357)</option>
                                            <option data-iso="CZ" value="420">Czech Republic (+420)</option>
                                            <option data-iso="DK" value="45">Denmark (+45)</option>
                                            <option data-iso="DJ" value="253">Djibouti (+253)</option>
                                            <option data-iso="DM" value="1767">Dominica (+1767)</option>
                                            <option data-iso="DO" value="1809">Dominican Republic (+1809)</option>
                                            <option data-iso="DO" value="1829">Dominican Republic (+1829)</option>
                                            <option data-iso="DO" value="1849">Dominican Republic (+1849)</option>
                                            <option data-iso="TL" value="670">East Timor (+670)</option>
                                            <option data-iso="EC" value="593">Ecuador (+593)</option>
                                            <option data-iso="EG" value="20">Egypt (+20)</option>
                                            <option data-iso="SV" value="503">El Salvador (+503)</option>
                                            <option data-iso="GQ" value="240">Equatorial Guinea (+240)</option>
                                            <option data-iso="ER" value="291">Eritrea (+291)</option>
                                            <option data-iso="EE" value="372">Estonia (+372)</option>
                                            <option data-iso="ET" value="251">Ethiopia (+251)</option>
                                            <option data-iso="FK" value="500">Falkland Islands (Malvinas) (+500)</option>
                                            <option data-iso="FO" value="298">Faroe Islands (+298)</option>
                                            <option data-iso="FJ" value="679">Fiji (+679)</option>
                                            <option data-iso="FI" value="358">Finland (+358)</option>
                                            <option data-iso="FR" value="33">France (+33)</option>
                                            <option data-iso="GF" value="594">French Guiana (+594)</option>
                                            <option data-iso="PF" value="689">French Polynesia (+689)</option>
                                            <option data-iso="GA" value="241">Gabon (+241)</option>
                                            <option data-iso="GM" value="220">Gambia (+220)</option>
                                            <option data-iso="GE" value="995">Georgia (+995)</option>
                                            <option data-iso="DE" value="49">Germany (+49)</option>
                                            <option data-iso="GH" value="233">Ghana (+233)</option>
                                            <option data-iso="GI" value="350">Gibraltar (+350)</option>
                                            <option data-iso="GR" value="30">Greece (+30)</option>
                                            <option data-iso="GL" value="299">Greenland (+299)</option>
                                            <option data-iso="GD" value="1473">Grenada (+1473)</option>
                                            <option data-iso="GP" value="590">Guadeloupe (+590)</option>
                                            <option data-iso="GU" value="1671">Guam (+1671)</option>
                                            <option data-iso="GT" value="502">Guatemala (+502)</option>
                                            <option data-iso="GG" value="44">Guernsey (+44)</option>
                                            <option data-iso="GN" value="224">Guinea (+224)</option>
                                            <option data-iso="GW" value="245">Guinea-Bissau (+245)</option>
                                            <option data-iso="GY" value="592">Guyana (+592)</option>
                                            <option data-iso="HT" value="509">Haiti (+509)</option>
                                            <option data-iso="HN" value="504">Honduras (+504)</option>
                                            <option data-iso="HK" value="852">Hong Kong (+852)</option>
                                            <option data-iso="HU" value="36">Hungary (+36)</option>
                                            <option data-iso="IS" value="354">Iceland (+354)</option>
                                            <option data-iso="IN" value="91">India (+91)</option>
                                            <option data-iso="ID" value="62">Indonesia (+62)</option>
                                            <option data-iso="IR" value="98">Iran (+98)</option>
                                            <option data-iso="IQ" value="964">Iraq (+964)</option>
                                            <option data-iso="IE" value="353">Ireland (+353)</option>
                                            <option data-iso="IM" value="44">Isle of Man (+44)</option>
                                            <option data-iso="IL" value="972">Israel (+972)</option>
                                            <option data-iso="IT" value="39">Italy (+39)</option>
                                            <option data-iso="JM" value="1876">Jamaica (+1876)</option>
                                            <option data-iso="JP" value="81">Japan (+81)</option>
                                            <option data-iso="JE" value="44">Jersey (+44)</option>
                                            <option data-iso="JO" value="962">Jordan (+962)</option>
                                            <option data-iso="KZ" value="7">Kazakhstan (+7)</option>
                                            <option data-iso="KZ" value="77">Kazakhstan (+77)</option>
                                            <option data-iso="KZ" value="76">Kazakhstan (+76)</option>
                                            <option data-iso="KE" value="254">Kenya (+254)</option>
                                            <option data-iso="KI" value="686">Kiribati (+686)</option>
                                            <option data-iso="XK" value="965">Kosovo (+383)</option>
                                            <option data-iso="KW" value="965">Kuwait (+965)</option>
                                            <option data-iso="KG" value="996">Kyrgyzstan (+996)</option>
                                            <option data-iso="LA" value="856">Lao PDR (+856)</option>
                                            <option data-iso="LV" value="371">Latvia (+371)</option>
                                            <option data-iso="LB" value="961">Lebanon (+961)</option>
                                            <option data-iso="LS" value="266">Lesotho (+266)</option>
                                            <option data-iso="LR" value="231">Liberia (+231)</option>
                                            <option data-iso="LY" value="218">Libyan Arab Jamahiriya (+218)</option>
                                            <option data-iso="LI" value="423">Liechtenstein (+423)</option>
                                            <option data-iso="LT" value="370">Lithuania (+370)</option>
                                            <option data-iso="LU" value="352">Luxembourg (+352)</option>
                                            <option data-iso="MO" value="853">Macau (+853)</option>
                                            <option data-iso="MK" value="389">Macedonia (FYROM) (+389)</option>
                                            <option data-iso="MG" value="261">Madagascar (+261)</option>
                                            <option data-iso="MW" value="265">Malawi (+265)</option>
                                            <option data-iso="MY" value="60">Malaysia (+60)</option>
                                            <option data-iso="MV" value="960">Maldives (+960)</option>
                                            <option data-iso="ML" value="223">Mali (+223)</option>
                                            <option data-iso="MT" value="356">Malta (+356)</option>
                                            <option data-iso="MH" value="692">Marshall Islands (+692)</option>
                                            <option data-iso="MQ" value="596">Martinique (+596)</option>
                                            <option data-iso="MR" value="222">Mauritania (+222)</option>
                                            <option data-iso="MU" value="230">Mauritius (+230)</option>
                                            <option data-iso="YT" value="262">Mayotte (+262)</option>
                                            <option data-iso="MX" value="52">Mexico (+52)</option>
                                            <option data-iso="FM" value="691">Micronesia (FSM) (+691)</option>
                                            <option data-iso="MD" value="373">Moldova (+373)</option>
                                            <option data-iso="MC" value="377">Monaco (+377)</option>
                                            <option data-iso="MN" value="976">Mongolia (+976)</option>
                                            <option data-iso="ME" value="382">Montenegro (+382)</option>
                                            <option data-iso="MS" value="1664">Montserrat (+1664)</option>
                                            <option data-iso="MA" value="212">Morocco (+212)</option>
                                            <option data-iso="MZ" value="258">Mozambique (+258)</option>
                                            <option data-iso="MM" value="95">Myanmar (+95)</option>
                                            <option data-iso="NA" value="264">Namibia (+264)</option>
                                            <option data-iso="NR" value="674">Nauru (+674)</option>
                                            <option data-iso="NP" value="977">Nepal (+977)</option>
                                            <option data-iso="NL" value="31">Netherlands (+31)</option>
                                            <option data-iso="AN" value="599">Netherlands Antilles (+599)</option>
                                            <option data-iso="NC" value="687">New Caledonia (+687)</option>
                                            <option data-iso="NZ" value="64">New Zealand (+64)</option>
                                            <option data-iso="NI" value="505">Nicaragua (+505)</option>
                                            <option data-iso="NE" value="227">Niger (+227)</option>
                                            <option data-iso="NG" value="234">Nigeria (+234)</option>
                                            <option data-iso="NU" value="683">Niue (+683)</option>
                                            <option data-iso="NF" value="672">Norfolk Island (+672)</option>
                                            <option data-iso="KP" value="850">North Korea (+850)</option>
                                            <option data-iso="MP" value="1670">Northern Mariana Islands (+1670)</option>
                                            <option data-iso="NO" value="47">Norway (+47)</option>
                                            <option data-iso="OM" value="968">Oman (+968)</option>
                                            <option data-iso="PK" value="92">Pakistan (+92)</option>
                                            <option data-iso="PW" value="680">Palau (+680)</option>
                                            <option data-iso="PS" value="970">Palestine (+970)</option>
                                            <option data-iso="PA" value="507">Panama (+507)</option>
                                            <option data-iso="PG" value="675">Papua New Guinea (+675)</option>
                                            <option data-iso="PY" value="595">Paraguay (+595)</option>
                                            <option data-iso="PE" value="51">Peru (+51)</option>
                                            <option data-iso="PH" value="63">Philippines (+63)</option>
                                            <option data-iso="PN" value="64">Pitcairn Islands (+64)</option>
                                            <option data-iso="PL" value="48">Poland (+48)</option>
                                            <option data-iso="PT" value="351">Portugal (+351)</option>
                                            <option data-iso="PR" value="1787">Puerto Rico (+1787)</option>
                                            <option data-iso="PR" value="1939">Puerto Rico (+1939)</option>
                                            <option data-iso="QA" value="974">Qatar (+974)</option>
                                            <option data-iso="RE" value="262">Reunion (+262)</option>
                                            <option data-iso="RO" value="40">Romania (+40)</option>
                                            <option data-iso="RU" value="7">Russian Federation (+7)</option>
                                            <option data-iso="RW" value="250">Rwanda (+250)</option>
                                            <option data-iso="PM" value="508">Saint (PM) (+508)</option>
                                            <option data-iso="BL" value="590">Saint Barthelemy (+590)</option>
                                            <option data-iso="SH" value="290">Saint Helena (+290)</option>
                                            <option data-iso="KN" value="1869">Saint Kitts And Nevis (+1869)</option>
                                            <option data-iso="LC" value="1758">Saint Lucia (+1758)</option>
                                            <option data-iso="SX" value="590">Saint Martin (+590)</option>
                                            <option data-iso="VC" value="1784">Saint Vincent (SVG) (+1784)</option>
                                            <option data-iso="WS" value="685">Samoa (+685)</option>
                                            <option data-iso="SM" value="378">San Marino (+378)</option>
                                            <option data-iso="ST" value="239">Sao Tome And Principe (+239)</option>
                                            <option data-iso="SA" value="966">Saudi Arabia (+966)</option>
                                            <option data-iso="SN" value="221">Senegal (+221)</option>
                                            <option data-iso="CS" value="381">Serbia (+381)</option>
                                            <option data-iso="SC" value="248">Seychelles (+248)</option>
                                            <option data-iso="SL" value="232">Sierra Leone (+232)</option>
                                            <option data-iso="SG" value="65">Singapore (+65)</option>
                                            <option data-iso="SX" value="1721">Sint Maarten (+1721)</option>
                                            <option data-iso="SK" value="421">Slovakia (+421)</option>
                                            <option data-iso="SI" value="386">Slovenia (+386)</option>
                                            <option data-iso="SB" value="677">Solomon Islands (+677)</option>
                                            <option data-iso="SO" value="252">Somalia (+252)</option>
                                            <option data-iso="ZA" value="27">South Africa (+27)</option>
                                            <option data-iso="GS" value="500">South Georgia (+500)</option>
                                            <option data-iso="KR" value="82">South Korea (+82)</option>
                                            <option data-iso="SS" value="211">South Sudan (+211)</option>
                                            <option data-iso="ES" value="34">Spain (+34)</option>
                                            <option data-iso="LK" value="94">Sri Lanka (+94)</option>
                                            <option data-iso="SD" value="249">Sudan (+249)</option>
                                            <option data-iso="SR" value="597">Suriname (+597)</option>
                                            <option data-iso="SJ" value="4779">Svalbard And Jan Mayen (+4779)</option>
                                            <option data-iso="SZ" value="268">Swaziland (+268)</option>
                                            <option data-iso="SE" value="46">Sweden (+46)</option>
                                            <option data-iso="CH" value="41">Switzerland (+41)</option>
                                            <option data-iso="SY" value="963">Syria (+963)</option>
                                            <option data-iso="TW" value="886">Taiwan (+886)</option>
                                            <option data-iso="TJ" value="992">Tajikistan (+992)</option>
                                            <option data-iso="TZ" value="255">Tanzania (+255)</option>
                                            <option data-iso="TH" value="66">Thailand (+66)</option>
                                            <option data-iso="TG" value="228">Togo (+228)</option>
                                            <option data-iso="TK" value="690">Tokelau (+690)</option>
                                            <option data-iso="TO" value="676">Tonga (+676)</option>
                                            <option data-iso="TT" value="1868">Trinidad And Tobago (+1868)</option>
                                            <option data-iso="TN" value="216">Tunisia (+216)</option>
                                            <option data-iso="TR" value="90">Turkey (+90)</option>
                                            <option data-iso="TM" value="993">Turkmenistan (+993)</option>
                                            <option data-iso="TC" value="1649">Turks And Caicos Islands (+1649)</option>
                                            <option data-iso="TV" value="688">Tuvalu (+688)</option>
                                            <option data-iso="VI" value="1340">U.S. Virgin Islands (+1340)</option>
                                            <option data-iso="UG" value="256">Uganda (+256)</option>
                                            <option data-iso="UA" value="380">Ukraine (+380)</option>
                                            <option data-iso="AE" value="971">United Arab Emirates (+971)</option>
                                            <option data-iso="GB" value="44">United Kingdom (+44)</option>

                                            <option data-iso="US" value="1" selected="">United States (+1)</option>
                                            <option data-iso="UY" value="598">Uruguay (+598)</option>
                                            <option data-iso="UZ" value="998">Uzbekistan (+998)</option>
                                            <option data-iso="VU" value="678">Vanuatu (+678)</option>
                                            <option data-iso="VA" value="379">Vatican City (+379)</option>
                                            <option data-iso="VE" value="58">Venezuela (+58)</option>
                                            <option data-iso="VN" value="84">Vietnam (+84)</option>
                                            <option data-iso="WF" value="681">Wallis And Futuna (+681)</option>
                                            <option data-iso="WF" value="212">Western Sahara (+212)</option>
                                            <option data-iso="YE" value="967">Yemen (+967)</option>
                                            <option data-iso="ZM" value="260">Zambia (+260)</option>
                                            <option data-iso="ZW" value="263">Zimbabwe (+263)</option>
                                          </select>
                                          <input name="PhoneNumber" type="text" data-default-region="US" id="txt_phone" minlength="5" maxlength="17" required="" placeholder="Enter your phone number" class="form-control d-block" autocomplete="off" aria-required="true"/>
                                        </div>
                                      </div>

                                      <div id="lbl_ErrorSignUp"></div>
                                    </div>
                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <div class="col-md-12 paddingRow">
                                          <input type="button" name="btn_Signup" value="Register Now" id="btn_Signup" class="btn btn-primary btnFullWidth"/>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group cancel_area">
                                      <div class="col-md-12">
                                        <p class="text-center">
                                          Already have an account?
                                          <a id="sectionlogin" class="loginButton">
                                            Log In</a>
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>

                          <!--*****Sign_In/Login Tab**** -->
                          <div id="sectionB" class="tab-pane fade">
                            <form id="LoginForm" action="/Account/Login" method="post">
                              <input name="__RequestVerificationToken" type="hidden" value="s6qXWZqkfdKAksQlBFYpkwVYGSth2SqAgOgC15-1RBPrm2-rXxcD2LUyTvXJ3LfxPF9IepUZ6f1HUk_Y71EPVc9k7ujRVQSv4VyPeC2vxw81"/>
                              <div class="card-panel">
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <div class="col-md-12 paddingRow">
                                        <label for="txt_email_login">Email Address</label>
                                        <span id="spn_EmailCorrect" class=""></span>
                                        <input name="Email" type="text" id="txt_email_login" class="form-control customForm col-lg-offset-2 col-md-offset-2" placeholder="Enter your email address here" data-error="Valid email is required." title="Your Email ID please"/>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="col-md-12 paddingRow">
                                        <label for="txt_pass_login">Password</label>
                                        <span id="lbl_PassError"></span>

                                        <input name="Password" type="password" id="txt_pass_login" class="form-control customForm" placeholder="Enter your password here" data-error_tooltip="tooltip" data-placement="left" title="Please Enter Your Password"/>
                                      </div>
                                    </div>
                                    <div class="col-md-12">
                                      <span id="LoginError"></span>
                                    </div>
                                    <div class="form-group">
                                      <div class="col-md-12 paddingRow">
                                        <div class="pull-right">
                                          <a tabindex="-1" href="/Account/ForgotPassword" id="btnForgotPassword">Forgot your password?</a>
                                        </div>
                                        <input type="submit" name="btnLogin" value="Log In" id="btnLogin" class="btn btn-primary btnFullWidth"/>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group cancel_area">
                                    <div class="col-md-12">
                                      <p class="text-center">
                                        Don't have an account?
                                        <a id="sectionsignup">
                                          Register Now</a>
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        {% endblock content %}
                      </div>
                    </div>

                  </div>
                </div>
                <!--*****Our Features Desktop Version*** -->
                <div class="ms-auto col-md-12 col-lg-5">
                  <h4 class="benefits_heading">BENEFITS THAT SET US APART</h4>
                  <div class="col-md-12 wow fadeInLeft animated">
                    <div class="sign-up-outer">
                      <div class="row">
                        <div class="col-lg-12 col-md-6">
                          <div class="sign-up-right">
                            <div class="features_icons icon1"></div>
                            <h5>EXPERIENCED WRITERS</h5>
                            <p>Masters and Ph.D. Qualified Writers</p>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                          <div class="sign-up-right">
                            <div class="features_icons icon2"></div>
                            <h5>EXCLUSIVE DISCOUNT OFFERS</h5>
                            <p>Discount Bundles for New & Existing Clients</p>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                          <div class="sign-up-right">
                            <div class="features_icons icon3"></div>
                            <h5>100% PLAGIARISM FREE</h5>
                            <p>Plagiarism Report Ensuring Original Papers</p>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                          <div class="sign-up-right">
                            <div class="features_icons icon5"></div>
                            <h5>24/7 ONLINE PRESENCE</h5>
                            <p>24/7 Order Tracking and Online Support</p>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                          <div class="sign-up-right border-bottom-0">
                            <div class="features_icons icon6"></div>
                            <h5>NO UPFRONT PAYMENT REQUIRED</h5>
                            <p>Pay Only When You Receive The Completed Work</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>

{% endblock main %}