{% load static %}



<div class="row images_main">
    <div class="col-lg-12">
      <a href="#" class="chaton">
        <div class="seal_icon1">
          <div class="title_side">
            <h4>Discount</h4>
            <h5>That Truly Matters!</h5>
          </div>
          <div class="discount_side">
            <span>
              Save
              <b>50%</b>
              & MORE
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>

  <div class="row images_main">
    <div class="col-lg-12  col-xs-12">
      <a href="#" class="chaton">
        <div class="sidebar-2">
          <div class="circle_bx">
            <div class="icon-user">
              <span>
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          <div class="sidebar-content">
            <h1 class="commen-content">
              <span class="line1">
                REFER FRIENDS TO
              </span>
              <br>
              <span class="line2">
                EARN CREDIT
              </span>

            </h1>
          </div>
          <div class="excl_text">
            <div class="discount-text">
              <h3 class="referall-content">
                GET EXCLUSIVE REFERRAL DISCOUNTS
              </h3>
            </div>
          </div>
          <div class="excl_text_after"></div>
          <div class="u-shape-text">
            <h1>U</h1>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>

  <div class="row images_main">
    <div class="col-lg-12  col-xs-12">
      <a href="#" class="chaton">
        <div class="seal">
          <div class="row">
            <div class="col-5">
              <div class="icon">
                <div class="icon-inner">
                  <div class="line"></div>
                </div>
              </div>
            </div>
            <div class="col-7">
              <div class="text-side">
                <div class="first-text">
                  Connect with one of our friendly support team representatives
                </div>
                <div class="secound-text">
                  Start Live Chat
                </div>
                <div class="number-text">
                  <span>CALL US:</span>
                  +1 (877) 728-7387
                </div>
                <div class="online">
                  24/7 ONLINE
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>