{% extends "pages/order/base.html" %}
{% load static %}
{% block css %}

  {{ block.super }}


{% comment %} <script type="text/javascript" src="{% static 'Content/Cosmo/js/ConfirmOrderDetails.js' %}?v=09112023"></script> {% endcomment %}
{% endblock css %}

{% block main %}

{{ block.super }}

  <!-- New Confirm Order Detail Page Starts -->
  <section class="banner_small banner_customer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="page_tagline">Have a look at the summary of your order</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="preview">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 col-lg-7">
          <!--Order general details-->
          <!--Desktop Order Details Table-->
          <div class="table-responsive hidden-xs">
            <table id="general_details" class="preview-table table table-hover table-striped">
             {% include "pages/order/confirm_desktop.html" %}
            </table>
          </div>
          <!--Mobile Order Details Table-->
          <div class="table-responsive hidden-md">
            <table id="general_details" class="preview-table table table-hover table-striped">
              {% include "pages/order/confirm_mobile.html" %}
            </table>
          </div>
          <!--Order styling details-->
          <!--Desktop More Details Table-->
          <div class="table-responsive mt-4 hidden-xs">
            <table id="more_details" class="preview-table table table-hover table-striped">
              <tbody>
                <tr>
                  <td colspan="4" class="label tbl_head">More Details</td>
                </tr>
                <tr>
                  <td class="label">Citation Style</td>
                  <td>{{order.citation_style}}</td>

                </tr>
                <tr>
                  <td class="label">References</td>
                  <td>{{order.references}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Mobile More Details Table-->
          <div class="table-responsive mt-4 hidden-md">
            <table id="more_details" class="preview-table table table-hover table-striped">
              <tbody>
                <tr>
                  <td colspan="3" class="label tbl_head">More Details</td>
                </tr>
                <tr>
                  <td class="label">Citation Style</td>
                  <td>{{order.citation_style}}</td>
                </tr>
                <tr>
                  <td class="label">References</td>
                  <td colspan="2">{{order.reference}}</td>
                </tr>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Order Add-on details-->
          {% if order.addons %}
          <div class="table-responsive mt-5">
            <table id="addon_details" class="preview-table table table-hover table-striped">
              <tbody>
                <tr id="addonRow">
                  <td colspan="3" class="label tbl_head">Add-ons</td>
                </tr>
              {% for addon in order.addons.all %}
                <tr>
                  <td colspan="2" class="label">
                    {{addon.addon}}
                  </td>
                  <td>
                    <span class="addon_amount">
                      ${{addon.price}}
                    </span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
          <ul class="guarantee_seals">
            <li class="seal_satisfaction starburst example">
              <img src="{% static 'Content/Cosmo/UserArea/images/satisfaction.png' %}"/>
            </li>
            <li class="seal_lowprice starburst example">
              <img src="{% static 'Content/Cosmo/UserArea/images/lowest-price.png' %}"/>
            </li>
            <li class="seal_moneyback starburst example">
              <img src="{% static 'Content/Cosmo/UserArea/images/money-back.png' %}"/>
            </li>
          </ul>

          <div class="table-responsive mt-5 hidden-xs">
            <table id="more_details" class="preview-table table table-hover table-striped">
              <tbody>
                <tr>
                  <td colspan="4" class="label tbl_head">Account Details</td>
                </tr>
                <tr>
                  <td class="label">Name</td>
                  <td>{{client}}</td>
                  <td class="label">Customer ID</td>
                  <td>{{client.clientId}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="table-responsive mt-5 hidden-md">
            <table id="more_details" class="preview-table table table-hover table-striped">
              <tbody>
                <tr>
                  <td colspan="4" class="label tbl_head">Account Details</td>
                </tr>
                <tr>
                  <td class="label">Name</td>
                  <td colspan="2">{{client}}</td>
                </tr>
                <tr>
                  <td class="label">Customer ID</td>
                  <td colspan="2">{{client.clientId}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 position-relative">
          <div id="preview_sidebar" class="order_sidebar confirm">

            <div class="pricing_detail_bx">
              <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="order" value="{{order.pk}}" />
              <h4 class="mb-3 box_title">ORDER COST</h4>
              <ul class="cost_checklist">
                <li>
                  <span class="lbl">Service Cost</span>
                  <span class="p_tag">${{order.price}}</span>
                </li>
               
                {% if order.addons %}
                <li>
                  <span class="lbl">Add-ons Cost</span>
                  <span class="p_tag">${{order.price_de|default:"0.00"}}</span>
                </li>
                {% endif %}
              </ul>
              <div class="price_box">
                <h4>
                  FINAL AMOUNT
                  <span class="order_price">
                    <span class="total_cost">${{order.price}}</span>
                  </span>
                </h4>
                <button id="btnProceedPaymentMiddleware" class="btn_proceed bounce-effect" type="submit">DEPOSIT FUNDS</button>
                <span class="bestprice">Best price guaranteed</span>
              </div>
              <div>
                <div class="discount">Enter Promo Code (Optional)</div>
                <div class="promocode">
       
                  <span class="promo-loader dis_none"><img src="{% static 'Content/Cosmo/images/loading.gif' %}"/></span>
                </div>
              </div>
              <div>
                <div class="mt usecode">
                  <input id="btnPromoCode" class="btn bg-primary" type="button" value="Use Code"/>
                  <div class="promoError text-danger pp"></div>
                  <div class="nopromocode">
                    <span>Don't have a code?</span>
                    <a href="#" class="chaton">Request Code</a>
                  </div>
                </div>
              </div>
             <form>
            </div>
            
            <div id="userarea_counter" class="pay_after text-center email-landing">
              <img class="announcement_icon" src="{% static 'Content/Cosmo/UserArea/images/announcement_icon.png' %}" alt="Announcement Icon">
              <h4>PAY AFTER DELIVERY<br/>
              </h4>
              <div class="desc_box">
                <p>
                  Feel relieved & secure with our
                  <br class="d-none d-md-block">
                  '<b>Pay After Delivery</b>' guarantee. Receive
                  <br class="d-none d-md-block">
                  order first, ensure its quality and
                  <br class="d-none d-md-block">
                  satisfaction, and then release payment.
                </p>
              </div>
              <div class="counter3">
                <div class="mt-4 mb-3 text-center">
                  <img src="{% static 'Content/Cosmo/UserArea/images/payment_icons.png' %}" alt="credit card">
                </div>
                <div class="my-3 text-center">
                  <img src="{% static 'Content/Cosmo/UserArea/images/norton_mcfee_sprites.png' %}" alt="Norton mcafee">
                </div>
              </div>
            </div>
          </div>
          <div class="place-bar">
            <p>
              <span id="lbl_atotal_m">$48.75</span>
              <br/>
              <span id="lbl_gtotal_m">$64.00</span>
            </p>
            <button name="btn_OrderNow" id="btn_proceed" class="btn_proceed" type="submit">DEPOSIT FUNDS</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#services-->
  <!-- Common Footer Included -->

{% endblock main %}
