{% extends "pages/order/base.html" %} {% load static i18n crispy_forms_tags %} {% block head %} 
{{ wizard.form.media }} {% endblock %} {% block css %} {{ block.super }} 
{% endblock css %} 


{% block main %} {{ block.super }}

<section class="banner_small banner_customer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% comment %} <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p> {% endcomment %}
        <h3 class="page_tagline">Describe the requirements of your order</h3>
      </div>
    </div>
  </div>
</section>
<section class="order">
  <div class="container">
    <div class="row form_area_row">
      <div id="form-data" class="col-md-12">
        <div class="row order-set">
          <div class="col-md-6 col-lg-7">
            
            {% if form.errors %}<h1>{% translate "Please correct the following errors" %}</h1>{% endif %}
            <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
              {{ wizard.management_form }}
              {% if wizard.form.forms %}
                  {{ wizard.form.management_form }}
                  {% for form in wizard.form.forms %}
                      {{ form|crispy }}
                  {% endfor %}
              {% else %}
                  {{ wizard.form|crispy }}
              {% endif %}
              </table>
              {% if wizard.steps.prev %}
              <button name="wizard_goto_step" type="submit" class=" " value="{{ wizard.steps.first }}">{% translate "first step" %}</button>
              <button name="wizard_goto_step" type="submit" class="" value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
              {% endif %}
              <input type="submit" value="{% translate "submit" %}"/>
            </form>

            <div class="border-order mt-4">
              {% include "pages/order/user_card.html" %}
            </div>
          </div>

          <div class="col-md-6 col-lg-5 position-relative">
            {% include "pages/order/ribbon.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock main %}
