{% load static %}


<section class="bg-half-170 with-gradient home_ser" id="home">
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row mt-md-5">
          <span id="contact" class="anchor"></span>

          <div class="col-xl-7">
            <div class="title-heading mt-4">
              <h2 class="heading text-white mb-3">Affordable Paper Writing Service</h2>
              <p class="para-desc text-light para-desc-main">Bid farewell to academic stress and welcome outstanding results.<br class="ban_tagbreak">
                Our expert writing services pave the way to your triumph.</p>
              <div class="watch-video mt-4 pt-2   d-md-block">
                <div class="row">
                  <div class="col-md-6 cpr">
                    <div class="banner_feature_wraper banner_feature_wraper_line">
                      <span><img src="{% static 'images/qoe.png' %}" alt="qoe"></span>Premium Quality Academic Papers
                    </div>
                  </div>
                  <div class="col-md-6 ">
                    <div class="banner_feature_wraper">
                      <span><img src="{% static 'images/phd-banner.png' %}" alt="phd-banner"></span>Top Ph.D. Experts

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="banner_feature_wraper under_lined banner_feat_mtp">

                      <span><img src="{% static 'images/fpr.png' %}" alt="fpr"></span>100% Plagiarism Free
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="banner_feature_wraper under_lined banner_feat_mtp">
                      <span><img src="{% static 'images/ufr.png' %}" alt="ufr">
                      </span>Unlimited Free Revisions

                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="banner_feature_wraper under_lined banner_feat_mtp">

                      <span><img src="{% static 'images/upfront.png' %}" alt="qoe"></span>No Upfront Payment
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="banner_feature_wraper banner_feat_mtp">
                      <span><img src="{% static 'images/po.png' %}" alt="po"></span>Free Features - Worth
                      <span class="bld">$90</span>

                    </div>

                  </div>

                </div>
              </div>
              <div class="get_credit_worth_wrapper">
                <a href="reviews.php.html">
                  <div class="banner_secnd">
                    <div class="media">
                      <img src="{% static 'images/trustpilot_icon.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="mt-0">4.7</h5>
                        <span>

                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star star-nine" aria-hidden="true"></i>
                        </span>
                        <p>
                          TrustPilot
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="reviews.php.html">
                  <div class="banner_secnd">
                    <div class="media">
                      <img src="{% static 'images/ef_web-favicon.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="mt-0">4.9</h5>
                        <span>

                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star star-nine" aria-hidden="true"></i>
                        </span>
                        <p>
                          EssaysFeed
                        </p>
                      </div>
                    </div>
                  </div>
                </a>

                <div class="bizprobe_btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <div class="banner_secnd banner_secnd_web">
                    <div class="media">
                      <img src="{% static 'images/biz-banner.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="mt-0">4.9</h5>
                        <span>

                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star star-nine" aria-hidden="true"></i>
                        </span>
                        <p>
                          BizProbe
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="banner_ratings ">
                <ul class="mb-0">
                  <li>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </li>
                  <li>
                    Trusted By 40K+ Students &
                    <span class="bld">Rated 4.9/5</span>
                    Based on
                    <span class="bld">30K+ Reviews</span>
                    <div class="banner_arrow">
                      <img src="{% static 'images/dotted-arrow.png' %}" class="img-fluid">
                    </div>
                  </li>
                </ul>
              </div>
              <div class="feature_logo_sprite  d-md-block">
                <ul>
                  <li>
                    <div class="feat_logo_form feat_logo_1a"></div>
                  </li>
                  <li>
                    <div class="feat_logo_form feat_logo_2a"></div>
                  </li>
                  <li>
                    <div class="feat_logo_form feat_logo_3a"></div>
                  </li>

                </ul>
              </div>

            </div>
          </div>
          <div class="col-xl-5 mt-4 pt-2 mt-sm-0 pt-sm-0 ">
            <div class="banner_frm_wraper">
              <div class="contact_wrapper calculate_order calculate_order_form">

                <form method="POST" action="">
                  <div class="order-form">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="contact_left p-0">
                          <div class="form-title text-center">
                            <h3>Act Fast - Save Big!</h3>
                          </div>
                          <div class="form_dis_banner">
                            <p>
                              <span>50%</span>
                              DISCOUNT
                            </p>

                            <div class="banner-ribon">
                              <p>
                                UP TO 20%
                                <span>EXTRA DISCOUNT</span>
                                ON BIG ORDERS
                              </p>

                            </div>
                            <div class="arrow-left1"></div>
                          </div>
                          <div class="row mb-3 form-start">
                            <div class="col-md-12">
                
                              <label>Name
                                <span class="text-danger">*</span></label>
                              <i class="fas fa-user ml-3 icons"></i>
                              <input type="text" id="f_name" name="name" class="mb-2" placeholder="Enter Your Full Name" required="">
                              <span id="nameError" class="text-danger password_require pop_cmn_err d-none"></span>
                            </div>
                            <div class="col-md-12">

                              <label>Email Address
                                <span class="text-danger">*</span></label>
                              <i class="fas fa-envelope ml-3 icons"></i>
                              <input type="email" id="f_email" name="email" class="mb-2" placeholder="Enter Your Email Address"  required="">
                              <span id="emailError" class="text-danger password_require pop_cmn_err d-none"></span>
                            </div>
                            <div class="col-md-12">

                              <label>Select Country
                                <span class="text-danger">*</span></label>
                              <div class="form_sel_wrapper">
                                <input type="hidden" id="CountryIsoCode" name="CountryIsoCode" value="">
                                <i class="fas fa-globe"></i>
                                <select name="countrylist" id="countryddl" class="countrylist form-control sel_ctry">
                                  
                                  <option data-iso="ES" value="34">Spain (+34)</option>
                                  <option data-iso="LK" value="94">Sri Lanka (+94)</option>
                                  <option data-iso="SD" value="249">Sudan (+249)</option>
                                </select>

                              </div>
                            </div>
                            <div class="col-md-12">
                              <label>Phone Number
                                <span class="text-danger">*</span></label>
                              <div class="form_phone">
                                <i class="fas fa-phone-alt" ></i>
                                <input type="tel" name="phone" id="phone" class="form_control" minlength="7" maxlength="17" placeholder="Enter Your Phone Number" required="">
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 sbmt_btn_adj">
                        <div class="coupon-wrapper ">
                          <div class="coupon-wrapper-adj">
                            <div class="lowest_lft">
                              <p>
                                Lowest
                                <br>Price
                              </p>
                              <p>
                                GUARANTEED
                              </p>
                              <div class="arrow-down3"></div>
                            </div>
                            <div class="coupan_details">
                              <h4>
                                Coupons Left Today
                              </h4>
                              <p>
                                <span>Get it</span>
                                Before offer Ends!
                              </p>
                            </div>
                            <div class="coupan_square">
                              <p class="ReviewCounter-container">
                                <span class="ReviewCounter">

                                  <span class="odometer" data-value="9"></span>
                                </span>

                              </p>
                              <p>
                                Coupons
                              </p>
                              <div class="vl">
                                <div class="small_circle_top"></div>
                                <div class="small_circle_btm"></div>
                              </div>
                            </div>
                          </div>

                        </div>
                        <span class="ripple_yellow ripple_yellow_submit_cal">
                          <button name="contact_with_expert_form" value="submit" id="f_submit" class="btn btn-success black-btn2 mt-2 mb-2 OrderNow" >
                            Place Your Order Now
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </form>

                <!--Error Message-->
                <div class="col-md-12 pad-25">
                  <div id="auto-response">
                    <p>
                      Warning! Operation Unsuccessfull,Invalid Data
                    </p>
                  </div>
                </div>
                <div class="result"></div>
                <!-- /.result -->

              </div>
              <div class="form_btm">
                <span>
                  <img src="{% static 'images/lead-garant.png' %}" alt="guarantee" class="img-fluid">
                </span>Lowest Price Guarantee
              </div>

            </div>
          </div>
          <!--end col-->

          <!--end col-->
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="watch-video mt-4 pt-2 d-none">
              <div class="row">
                <div class="col-md-4">
                  <div class="banner_feature_wraper">
                    <span>
                      <i class="fas fa-file-alt"></i>
                    </span>100% Plagiarism FREE
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="banner_feature_wraper under_lined">
                    <span>
                      <i class="fas fa-star"></i>
                    </span>Rating 4.9/5 (5K+)
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="banner_feature_wraper">
                    <span><img src="{% static 'images/upfront.png' %}" alt="turnaround"></span>No Upfront Payment
                  </div>
                </div>
              </div>
              <div class="row banner_feat_mtp">
                <div class="col-md-4">
                  <div class="banner_feature_wraper ">
                    <span>
                      <i class="fa fa-history" aria-hidden="true"></i>
                    </span>Unlimited Revisions
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="banner_feature_wraper">
                    <span>
                      <i class="fas fa-clipboard-list"></i>
                    </span>Free Features Worth
                    <span class="disp">$90</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="feature_logo_sprite   d-none">
              <ul>
                <li>
                  <div class="feat_logo feat_logo_1"></div>
                </li>
                <li>
                  <div class="feat_logo feat_logo_2"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>

      <!--end container-->
    </div>
    <!--end home desc center-->
  </div>
  <!--end home center-->
</section>