{% load static %}

<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-title mb-4 text-center">Meet Our Top Rated Academic Paper Writers</h2>
        <p class="text-muted para-desc mx-auto mb-0 text-center">Our expert writers draft top-notch academic papers to take your stress away. From brainstorming to writing and finally formatting your paper, we perform every step carefully and make it worthy of A grade.</p>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-12">
            <div class="about_left_tp">
              <h2 class="ppr_head_about">
                <span>Top 5 Paper Writing Experts
                </span>out of 2K+ Writers
              </h2>
            </div>
          </div>
        </div>
        <div id="academic-experts-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li type="button" data-bs-target="#academic-experts-carousel" data-bs-slide-to="0" class="active"></li>
            <li type="button" data-bs-target="#academic-experts-carousel" data-bs-slide-to="1"></li>
            <li type="button" data-bs-target="#academic-experts-carousel" data-bs-slide-to="2"></li>
            <li type="button" data-bs-target="#academic-experts-carousel" data-bs-slide-to="3"></li>
            <li type="button" data-bs-target="#academic-experts-carousel" data-bs-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div>
                <div class="row">
                  <div class="col-lg-12  ">
                    <div class="recent-review mt-0">
                      <div class="recent-review-tp">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="avatar male2"></div>
                            <div class="recent-review-left">
                              <h4>Evan Hamilton</h4>
                              <p>Ph.D.</p>
                              <div class="review-star">
                                <span>4.8/5
                                </span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star last-star-48"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="recent-reviews-btm">
                              <ul>
                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>4465+
                                  </span>
                                  Orders Completed
                                </li>

                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>1308+
                                  </span>
                                  Positive Reviews</li>

                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>98.9%
                                  </span>Satisfaction Rate
                                </li>
                              </ul>
                              <a href="" class="shared_order">Get Started With 50% Off</a>
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="carousel-item">
              <div>
                <div class="row">
                  <div class="col-lg-12  ">
                    <div class="recent-review mt-0">
                      <div class="recent-review-tp">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="avatar male1"></div>
                            <div class="recent-review-left">
                              <h4>Carl Stevens
                              </h4>
                              <p>Ph.D.</p>
                              <div class="review-star">
                                <span>4.9/5
                                </span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star last-star-49"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="recent-reviews-btm">

                              <ul>
                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>2534+
                                  </span>
                                  Orders Completed
                                </li>

                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>1028+
                                  </span>
                                  Positive Reviews</li>

                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>99.8%
                                  </span>Satisfaction Rate
                                </li>
                              </ul>
                              <a href="" class="shared_order">Get Started With 50% Off</a>

                            </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div>
                <div class="row">
                  <div class="col-lg-12  ">
                    <div class="recent-review mt-0">
                      <div class="recent-review-tp">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="avatar male"></div>
                            <div class="recent-review-left">
                              <h4>James Oswalt</h4>
                              <p>Masters</p>
                              <div class="review-star">
                                <span>5/5</span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="recent-reviews-btm">
                              <ul>
                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>2343+
                                  </span>
                                  Orders Completed
                                </li>
                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>1398+
                                  </span>
                                  Positive Reviews</li>
                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>99.9%
                                  </span>Satisfaction Rate
                                </li>
                              </ul>
                              <a href="" class="shared_order">Get Started With 50% Off</a>
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div>
                <div class="row">
                  <div class="col-lg-12  ">
                    <div class="recent-review mt-0">
                      <div class="recent-review-tp">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="avatar male3"></div>
                            <div class="recent-review-left">
                              <h4>Andrew Haze</h4>
                              <p>Masters</p>
                              <div class="review-star">
                                <span>4.9 /5</span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star last-star-49"></i>
                              </div>

                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="recent-reviews-btm">
                              <ul>
                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>3594+
                                  </span>
                                  Orders Completed
                                </li>
                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>1067+
                                  </span>
                                  Positive Reviews</li>

                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>99.7%
                                  </span>Satisfaction Rate
                                </li>
                              </ul>
                              <a href="" class="shared_order">Get Started With 50% Off</a>
                            </div>

                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <div class="row">
                  <div class="col-lg-12  ">
                    <div class="recent-review mt-0">
                      <div class="recent-review-tp">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="avatar male4"></div>
                            <div class="recent-review-left">
                              <h4>Leo Mitchell</h4>
                              <p>Ph.D.</p>
                              <div class="review-star">
                                <span>4.8/5</span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star last-star-48"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="recent-reviews-btm">
                              <ul>
                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>2176+
                                  </span>
                                  Orders Completed
                                </li>
                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>1967+
                                  </span>
                                  Positive Reviews</li>

                                <li>
                                  <span>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span><span>98.7%
                                  </span>Satisfaction Rate
                                </li>
                              </ul>
                              <a href="" class="shared_order">Get Started With 50% Off</a>
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="about_left_btm text-center">
              <p class="text-muted text-center">
                Our competent writers are the industry’s top 2% best experts with vast experience in their subject area. Graduated from top-ranked universities of the world, our writers have what it takes to write up unparalleled papers.
              </p>
              <img src="{% static 'images/US/about-left-btm.png' %}" alt="Uni logos">
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6">
        <div class="about_left" id="counter">
          <div class="row">
            <div class="col-md-6">
              <div class="about_card">
                <div class="counter-box text-center">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <h2 class="mb-0 ">
                    <span class="counter-value" data-count="2001">0</span>+</h2>
                  <h5 class="counter-head text-muted">Qualified Experts</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_card about_card_mtp">
                <div class="counter-box text-center">
                  <i class="fas fa-trophy"></i>
                  <h2 class="mb-0">
                    <span class="counter-value" data-count="145">0</span>K+</h2>
                  <h5 class="counter-head text-muted">Completed Orders</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_card about_card_1  about_card_mtp_1">
                <div class="counter-box text-center">
                  <i class="fas fa-smile"></i>
                  <h2 class="mb-0 ">99.9%</h2>
                  <h5 class="counter-head text-muted">Customer Satisfaction Rate</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_card">
                <div class="counter-box text-center">
                  <i class="fas fa-file-alt"></i>
                  <h2 class="mb-0 ">70+</h2>
                  <h5 class="counter-head text-muted">Subjects</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>