{% load static %}

<section class="how-2 home_process lazy" id="process">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-60">
          <h2 class="main-title mb-4">Simple & Quick Order Process to Unlock Success
          </h2>
          <p class="text-muted  para-desc mb-0 mx-auto">We have a simple and minimalistic approach when it comes to placing an order. In less than 2 minutes, you can sign up, place your order and leave the rest to our professional writers.</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
    <div class="row">
      <div class="col-md-12">
        <div class="process_wrapper">
          <div class="line-process">
            <img src="{% static 'images/process-liner.png' %}" class="img-fluid">
          </div>

          <ul>
            <li>
              <span>
                <p>
                  01
                </p>
                <div class="process_sprite process-user"></div>
              </span>
              <h5 class="text-dark">Register</h5>

            </li>
            <li>
              <span>
                <p>
                  02
                </p>
                <div class="icons text-primary text-center mx-auto">
                  <i>
                    <div class="process_sprite process-share"></div>
                  </i>
                </div>
              </span>
              <h5 class="text-dark">Share Details</h5>
            </li>
            <li>
              <span>
                <p>
                  03
                </p>
                <div class="icons text-primary text-center mx-auto">
                  <i>
                    <div class="process_sprite deposite-funds"></div>
                  </i>
                </div>
              </span>
              <h5 class="text-dark">Deposit Funds</h5>
            </li>
            <li>
              <span>
                <p>
                  04
                </p>
                <div class="icons text-primary text-center mx-auto">
                  <i>
                    <div class="process_sprite wrk-progress"></div>
                  </i>
                </div>
              </span>
              <h5 class="text-dark">Work in Progress</h5>
            </li>

            <li>
              <span>
                <p>
                  05
                </p>
                <div class="icons text-primary text-center mx-auto">
                  <i>
                    <div class="process_sprite process-download"></div>
                  </i>
                </div>
              </span>
              <h5 class="text-dark">Download File</h5>
            </li>
            <li>
              <span>
                <p>
                  06
                </p>
                <div class="icons text-primary text-center mx-auto">
                  <i>
                    <div class="process_sprite process-release"></div>
                  </i>
                </div>
              </span>
              <h5 class="text-dark">Release Payment</h5>

            </li>

          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="cta_common cta_common_second ready1 cta-pad-adj">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 cpr">
        <div class="cta_second-left">
          <img src="{% static 'images/cta_phone.png' %}" alt="cta_phone">
        </div>
      </div>
      <div class="col-xl-7">
        <div class="ready_right cta_common_second_right mt-0">
          <h5>
            PLACE YOUR ORDER IN JUST 2 MINUTES TO GET CUSTOM-WRITTEN PAPER
          </h5>
          <p>
            We will assign your order to a subject-matter expert who will skillfully write your paper as soon as you place your order with us.
          </p>
          <div class="row">
            <div class="col-md-12">
              <div class="cta_cmn_btn">
                <a href="" class="shared_order">Order Now</a>
                <span class="four-seven">
                  <img src="{% static 'images/twenty-four.png' %}" alt="not loaded">
                  <span class="twnty">24/7 Available</span>
                </span>
                <a href="" class="call-cta">
                  <span>
                    <i class="fa fa-phone" style="transform:rotate(45deg); margin-right:5px" aria-hidden="true"></i>
                  </span>
                  <p>
                    <em>Call us at</em>
                    +1.877.728.7387
                  </p>
                </a>
                <a href="#" class="chaton call-cta">
                  <i class="fas fa-comment-dots"></i>
                  <p>
                    <em>Click here to</em>
                    Start Live Chat
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>