<div class="modal" id="updatepasswordModel" role="dialog">
  <div class="modal-dialog modal-sm vertical-align-center">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <strong>Update Password</strong>
        </h4>
        <button type="button" class="close" data-bs-dismiss="modal">x</button>
      </div>
      <form  action="{% url 'users:update-password' %}" method='post'>
       {% csrf_token %}
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input name="current_password" type="password" id="txt_oldPass" class="form-control" placeholder="Enter your current password">
              </div>
              <label class="Error_label" id="Old_pass_error">Please Enter Your Old Password.</label>
              <div class="form-group">
                <input name="new_password" type="password" class="form-control" autocomplete="new-password" placeholder="Enter your new password">

              </div>
              <label id="new_pass_error" class="Error_label">Use 8 or more characters with a mix of letters, numbers & symbols without spaces.</label>
              <div class="form-group">
                <input name="new_password1" type="password" class="form-control" placeholder="Re-enter your new password">
              </div>

              <div class="form-group">
                <input type="submit" name="btn_Save" value="Update Password" class="btn-primary btn center-block">
              </div>
            </div>
            <table id="detailtab" class="myform"></table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
