{% load static %}

<!-- STATS Start -->
<section class="cta_common cta_common_second ready1 cta-pad-adj updated-cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 cpr">
        <div class="cta_second-left">
          <img src="{% static 'images/cta-lattest.png' %}" class="upd-img" alt="cta_phone">
        </div>
      </div>
      <div class="col-xl-8">
        <div class="ready_right cta_common_second_right mt-0">
          <h5>
            GET THE FINEST CUSTOM PAPER WRITING SERVICE AT UNBEATABLE PRICES
          </h5>
          <p>
            Unlock the power of top-notch paper writing at<span class="content_line">
              lowest prices in the industry</span>. Experience the winning combination of premium quality and affordability, at your fingertips.
          </p>
          <div class="row">
            <div class="col-md-12">
              <div class="cta_cmn_btn">
                <a href="{% url 'order' %}" class="shared_order">Order Now</a>
                <span class="four-seven">
                  <img src="{% static 'images/twenty-four.png' %}" alt="not loaded">
                  <span class="twnty">24/7 Available</span>
                </span>
                <a href="" class="call-cta">
                  <span>
                    <i class="fa fa-phone" style="transform:rotate(45deg); margin-right:5px" aria-hidden="true"></i>
                  </span>
                  <p>
                    <em>Call us at</em>
                    +1.877.728.7387
                  </p>
                </a>
                <a href="#" class="chaton call-cta">
                  <i class="fas fa-comment-dots"></i>
                  <p>
                    <em>Click here to</em>
                    Start Live Chat
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>