{% load static %}

<!-- STATS Start -->
<section class="cta_common cta_common_second ready1 cta-pad-adj updated-cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 cpr">
        <div class="cta_second-left"></div>
      </div>
      <div class="col-xl-12">
        <h3>
          <span class="content_line"> Why Us </span>
        </h3>
        <div class="ready_right cta_common_second_right mt-0">
          <h5>
            <i class="fas fa-check-circle text-success"></i> Access a
            comprehensive range of online tasks on our platform.
          </h5>
          <p>
            Be it writing, editing, proofreading, calculation, programming,
            copywriting, or article writing,
            <span class="content_line">we have you covered.</span>
          </p>
          <br />
          <h5>
            <i class="fas fa-check-circle text-success"></i> Seamlessly handle
            long-term orders with ease.
          </h5>
          <p>
            Entrust us with your
            <span class="content_line"
              >entire term's course tasks, assignments, and assessments.</span
            >
            <span class="content_line"
              >We ensure timely completion and top-notch performance, allowing
              you to pay on time.</span
            >
          </p>
          <br />
          <h5>
            <i class="fas fa-check-circle text-success"></i> Experience
            hassle-free integration with your Moodle or college Canvas
            dashboard.
          </h5>
          <p>
            Confirm high grades effortlessly as we deliver directly to your
            preferred platform.
            <span class="content_line"
              >Just sit back and watch your academic success unfold.</span
            >
          </p>
          <br />
          <h5>
            <i class="fas fa-check-circle text-success"></i> Serve clients
            worldwide, both English natives and non-natives.
          </h5>
          <p>
            Our services cater to a global audience,
            <span class="content_line"
              >ensuring academic excellence knows no boundaries.</span
            >
          </p>
          <br />
          <h5>
            <i class="fas fa-check-circle text-success"></i> Our ultimate goal:
            Deliver As and maintain them in your grades.
          </h5>
          <p>
            With our commitment to excellence,
            <span class="content_line"
              >we strive to elevate your academic performance to the highest
              level.</span
            >
          </p>
          <br />
          <div class="row">
            <div class="col-md-12">
              <div class="cta_cmn_btn">
                <a href="{% url 'order' %}" class="shared_order">Order Now</a>
                <span class="four-seven">
                  <img
                    src="{% static 'images/twenty-four.png' %}"
                    alt="not loaded"
                  />
                  <span class="twnty">24/7 Available</span>
                </span>
                <a href="" class="call-cta">
                  <span>
                    <i
                      class="fa fa-phone"
                      style="transform: rotate(45deg); margin-right: 5px"
                      aria-hidden="true"
                    ></i>
                  </span>
                  <p>
                    <em>Call us at</em>
                    +1.877.728.7387
                  </p>
                </a>
                <a href="#" class="chaton call-cta">
                  <i
                    class="fab fa-whatsapp"
                    style="
                      font-size: 38px;
                      color: #25d366;
                      transform: rotate(45deg);
                      margin-top: -15px;
                    "
                    aria-hidden="true"
                  ></i>

                  <p>
                    <em>WHatsapp us</em>
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
