{% load static %}

<section class="comparison" id="comparison">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title mb-4 pb-2">
          <h2 class="main-title text-center mt-3 mb-3">Comparative Analysis</h2>
          <p class="text-muted para-desc mx-auto mb-0 text-center">
            Our features are unmatched.<span class=""> We always</span> bring
            the best to our customers and the contrast between the platforms is
            proof of that.
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="comparison_tbl">
          <table class="table" id="table-1">
            <thead>
              <tr>
                <th scope="col" class="text-muted comparison_head header_tbl">
                  <p>Features</p>
                </th>
                <th scope="col" class="text-muted comparison_head header_tbl">
                  <p>Other Writing Websites</p>
                </th>
                <th scope="col" class="text-muted comparison_head header_tbl">
                  <p>Freelancers</p>
                </th>
                <th scope="col" class="text-purple comparison_head header_tbl">
                  Studybaze
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="comparison_media">
                    <div class="media">
                      <div class="media-body">
                        <p class="mt-0">Pay Only After Delivery</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i class="fas fa-times"></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i
                          class="fa fa-check green_tick"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media last_media">
                    <div class="media">
                      <span>
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="comparison_media">
                    <div class="media">
                      <div class="media-body">
                        <p class="mt-0">Quick & Result</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i
                          class="fa fa-check green_tick"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i class="fas fa-times"></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media last_media">
                    <div class="media">
                      <span>
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="comparison_media">
                    <div class="media">
                      <div class="media-body">
                        <p class="mt-0">Dedicated Writing Team</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i
                          class="fa fa-check green_tick"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i
                          class="fa fa-check green_tick"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media last_media">
                    <div class="media">
                      <span>
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="comparison_media">
                    <div class="media">
                      <div class="media-body">
                        <p class="mt-0">Backup Writers</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i
                          class="fa fa-check green_tick"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i class="fas fa-times"></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media last_media">
                    <div class="media">
                      <span>
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="comparison_media">
                    <div class="media">
                      <div class="media-body">
                        <p class="mt-0">Quality Assurance</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i
                          class="fa fa-check green_tick"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i class="fas fa-times"></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media last_media">
                    <div class="media">
                      <span>
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="comparison_media">
                    <div class="media">
                      <div class="media-body">
                        <p class="mt-0">Confidentiality</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i class="fas fa-times"></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i
                          class="fa fa-check green_tick"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media last_media">
                    <div class="media">
                      <span>
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="comparison_media">
                    <div class="media">
                      <div class="media-body">
                        <p class="mt-0">Short and Long term Tasks</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i class="fas fa-times"></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media other_media">
                    <div class="media">
                      <span>
                        <i class="fas fa-times"></i>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="comparison_media last_media">
                    <div class="media">
                      <span>
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
