{% load static %}

<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-title mb-4 text-center">Academic Success Records</h2>
        <p class="text-muted para-desc mx-auto mb-0 text-center">
          Our accomplished writers deliver stellar academic papers, ensuring
          your peace of mind. With a vast pool of qualified experts covering
          numerous subjects, we guarantee top-notch orders completed with high
          customer satisfaction.
        </p>
      </div>
      <br />
      <br />
      <div></div>
      <br />
      <br />
      <div class="col-lg-12">
        <div class="about_left" id="counter">
          <div class="row">
            <div class="col-md-3">
              <div class="about_card">
                <div class="counter-box text-center">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <h2 class="mb-0">
                    <span class="counter-value" data-count="2001">0</span>+
                  </h2>
                  <h5 class="counter-head text-muted">Qualified Experts</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="about_card about_card_mtp">
                <div class="counter-box text-center">
                  <i class="fas fa-trophy"></i>
                  <h2 class="mb-0">
                    <span class="counter-value" data-count="145">0</span>K+
                  </h2>
                  <h5 class="counter-head text-muted">Completed Orders</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="about_card about_card_1 about_card_mtp_1">
                <div class="counter-box text-center">
                  <i class="fas fa-smile"></i>
                  <h2 class="mb-0">99.9%</h2>
                  <h5 class="counter-head text-muted">
                    Customer Satisfaction Rate
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="about_card">
                <div class="counter-box text-center">
                  <i class="fas fa-file-alt"></i>
                  <h2 class="mb-0">70+</h2>
                  <h5 class="counter-head text-muted">Subjects</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
