{% load static %}

<!-- STATS Start -->

<section class="stats bg-light ben" id="benefits">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title mb-4 pb-2">
          <h2 class="main-title mt-3 mb-3">Experience Perfection: Discover the Superior Features of Our Elite Paper Writing Service</h2>
          <p class="text-muted para-desc mx-auto mb-0 text-center">Unlock exclusive benefits and elevate your academic success with our professional paper writing service. Gain an edge with our exceptional quality and timely delivery.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="features_inner">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-6">

                  <div class="features mt-5">
                    <div class="feature_top">
                      <i class="fas fa-gem"></i>
                      <h4 class="title-2">Premium Quality
                      </h4>
                    </div>
                    <div class="content mt-4">

                      <p class="text-muted mb-0">Experience the epitome of quality in every paper. Our commitment to the highest standards means papers that stand out.</p>
                    </div>
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <i class="fas fa-user-edit"></i>
                      <h4 class="title-2">Experienced Writers</h4>
                    </div>
                    <div class="content mt-4">

                      <p class="text-muted mb-0">Achieve academic excellence like never before with our team of skilled writers, guaranteeing a transformative academic journey.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <span class="benefit_icon">
                        <i class="fas fa-calendar-alt"></i>
                      </span>
                      <h4 class="title-2 force-set">Any Deadline - 70+ Subjects
                      </h4>
                    </div>
                    <div class="content mt-4">
                      <p class="text-muted mb-0">Discover the power of our expertise across 70+ subjects, empowering you to conquer any writing task, even with looming deadlines.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">

                  <div class="features mt-5">
                    <div class="feature_top">
                      <i class="fas fa-clock "></i>
                      <h4 class="title-2 force-set">On-Time Delivery
                      </h4>
                    </div>
                    <div class="content mt-4">
                      <p class="text-muted mb-0">Enjoy the peace of mind that comes with our unwavering commitment to timely delivery. Your success story begins with us!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <i class="fas fa-check"></i>
                      <h4 class="title-2">Authentic Sources
                      </h4>
                    </div>
                    <div class="content mt-4">
                      <p class="text-muted mb-0">Our dedicated quality assurance team meticulously verifies every reference in your paper for unrivaled authenticity and accuracy.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">

                  <div class="features mt-5">
                    <div class="feature_top">
                      <i class="fas fa-headset"></i>
                      <h4 class="title-2">24/7/365 Customer Support
                      </h4>
                    </div>
                    <div class="content mt-4">

                      <p class="text-muted mb-0">Maximize your productivity with our lightning-fast customer support team, available 24/7 to provide rapid assistance.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <span>
                        <img src="{% static 'images/no-hidden-charges.png' %}" alt="charge">
                      </span>
                      <h4 class="title-2">Pay After Order Delivery
                      </h4>
                    </div>
                    <div class="content mt-4">

                      <p class="text-muted mb-0">Feel relieved & secure with our 'Pay After Delivery' guarantee. Receive your order first, ensure its quality and satisfaction, and then make your payment.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <i class="fa fa-lock" aria-hidden="true"></i>

                      <h4 class="title-2">Safe & Secure Services
                      </h4>
                    </div>
                    <div class="content mt-4">

                      <p class="text-muted mb-0">Trust in our rock-solid security protocols, including cutting-edge 256-Bit SSL encryption, ensuring your data protection.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 pl-lg-0">
              <div id="FREE_plan" class="pricing-rates starter-plan FREE_plan shadow rounded">
                <div class="featture_top">
                  <h2 class="title text-uppercase mb-4">Check Out Our
                    <br>Features</h2>
                  <h2>
                    <span>$90</span><span class="text-success FREE">FREE</span>
                  </h2>
                </div>

                <ul class="feature list-unstyled pl-0">
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Choose a 5-star Writer
                    <span class="text-center price_tag"><span class="single_price mr-1">$10.00</span><span class="text-white bg-primary FREE">FREE</span></span>
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Turnitin Report
                    <span class="text-center price_tag"><span class="single_price mr-1">$10.00</span><span class="text-white bg-primary FREE">FREE</span></span>
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Unlimited Revisions
                    <span class="text-center price_tag"><span class="single_price mr-1">$7.00</span><span class="text-white bg-primary FREE">FREE</span></span>
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Paper Formatting
                    <span class="text-center price_tag"><span class="single_price mr-1">$9.00</span><span class="text-white bg-primary FREE">FREE</span></span>
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Cover Page
                    <span class="text-center price_tag"><span class="single_price mr-1">$10.00</span><span class="text-white bg-primary FREE">FREE</span></span>
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Outline
                    <span class="text-center price_tag"><span class="single_price mr-1">$10.00</span><span class="text-white bg-primary FREE">FREE</span></span>
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Referencing
                    <span class="text-center price_tag"><span class="single_price mr-1">$7.00</span><span class="text-white bg-primary FREE">FREE</span></span>
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Dedicated User Area
                    <span class="text-center price_tag"><span class="single_price mr-1">$7.00</span><span class="text-white bg-primary FREE">FREE</span></span>
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    24/7 Order Tracking
                    <span class="text-center price_tag"><span class="single_price mr-1">$10.00</span><span class="text-white bg-primary FREE">FREE</span></span>
                  </li>
                  <li class="feature-list mb-0">
                    <i class="fas fa-check text-success mr-1"></i>
                    Periodic Email Alerts
                    <span class="text-center price_tag"><span class="single_price mr-1">$10.00</span><span class="text-white bg-primary FREE">FREE</span></span>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <div class="row ml-1">
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="seal-wraper seal-wraper1">
                <div class="seal">
                  <div class="seal1">
                    <div class="seal-name">
                      <p>EssaysFeed</p>
                    </div>
                    <div class="ratings">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <p>
                        Risk free Services with Guaranteed
                        <br>
                        Satisfaction
                      </p>
                    </div>
                  </div>
                </div>
                <aside class="ribbon">
                  <p>100% MONEY</p>
                  <p>BACK GUARANTEE</p>
                </aside>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="seal-wraper">
                <div class="seal">
                  <div class="seal1">
                    <div class="seal-name">
                      <p>EssaysFeed</p>
                    </div>
                    <div class="ratings">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <p>
                        100% Safe and Secure<br>Service
                      </p>
                    </div>
                  </div>
                </div>
                <aside class="ribbon">
                  <p>100% CONFIDENTIALITY</p>
                  <p>GUARANTEE</p>
                </aside>
              </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12">
              <div data-bs-toggle="modal" data-bs-target="#exampleModal" class="bizprobe_btn">

                <div class="seal-wraper seal-wraper-bizprobe">
                  <div class="seal">
                    <div class="seal1">
                      <div class="seal-name">
                        <div class="seal-logo-pb">
                          <img src="{% static 'images/logo11.png' %}" alt="">
                        </div>
                        <div class="seal-logo-text">
                          Ranked 1st by BizProbe
                        </div>
                      </div>
                      <div class="pb-ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <p>
                          Reviewer's Choice
                        </p>
                        <div class="year" id="year">2024</div>
                      </div>
                    </div>
                  </div>
                  <aside class="pb-ribbon aside aside-pb">
                    <p>BEST ONLINE PAPER</p>
                    <p>WRITING SERVICE</p>
                  </aside>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
