{% load static %}

<!-- STATS Start -->

<section class="stats bg-light ben" id="benefits">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title mb-4 pb-2">
          <h2 class="main-title mt-3 mb-3">
            Elevate Your Academic and Non-academic Success with our Writing
            Solutions
          </h2>
          <p class="text-muted para-desc mx-auto mb-0 text-center">
            Unleash exclusive advantages and enhance your academic journey with
            our expert writing solutions. Gain a competitive edge with our
            outstanding quality and prompt delivery.
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="features_inner">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <i class="fas fa-gem"></i>
                      <h4 class="title-2">Premium Quality</h4>
                    </div>
                    <div class="content mt-4">
                      <p class="text-muted mb-0">
                        Experience unparalleled quality in every paper. Our
                        dedication to excellence ensures standout papers.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <i class="fas fa-user-edit"></i>
                      <h4 class="title-2">Experienced Writers</h4>
                    </div>
                    <div class="content mt-4">
                      <p class="text-muted mb-0">
                        Achieve academic brilliance with our team of seasoned
                        writers, ensuring a transformative academic journey.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <span class="benefit_icon">
                        <i class="fas fa-calendar-alt"></i>
                      </span>
                      <h4 class="title-2 force-set">
                        Any Deadline - 70+ Subjects
                      </h4>
                    </div>
                    <div class="content mt-4">
                      <p class="text-muted mb-0">
                        Explore our expertise across 70+ subjects, empowering
                        you to conquer any writing task, even with tight
                        deadlines.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <i class="fas fa-clock"></i>
                      <h4 class="title-2 force-set">On-Time Delivery</h4>
                    </div>
                    <div class="content mt-4">
                      <p class="text-muted mb-0">
                        Enjoy the peace of mind that comes with our unwavering
                        commitment to punctual delivery. Your success story
                        starts here!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <i class="fas fa-check"></i>
                      <h4 class="title-2">Authentic Sources</h4>
                    </div>
                    <div class="content mt-4">
                      <p class="text-muted mb-0">
                        Our meticulous quality assurance team verifies every
                        reference source, calculation, coprywritten pieces for
                        unparalleled authenticity and precision.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <i class="fas fa-headset"></i>
                      <h4 class="title-2">24/7 Customer Support</h4>
                    </div>
                    <div class="content mt-4">
                      <p class="text-muted mb-0">
                        Maximize your productivity with our lightning-fast
                        customer support team, available 24/7 to provide swift
                        assistance.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <span style="font-size: 29px; color: #08a9e6">$</span>
                      <h4 class="title-2">Pay After Order Delivery</h4>
                    </div>
                    <div class="content mt-4">
                      <p class="text-muted mb-0">
                        Feel secure with our 'Pay After Delivery' guarantee.
                        Receive your order first, ensure its quality and
                        satisfaction, and then release your payment to us.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="features mt-5">
                    <div class="feature_top">
                      <i class="fa fa-lock" aria-hidden="true"></i>
                      <h4 class="title-2">Safe & Secure Services</h4>
                    </div>
                    <div class="content mt-4">
                      <p class="text-muted mb-0">
                        Trust in our robust security protocols that secures your
                        personal data, academic records and payments, ensuring
                        the safety for all of your data.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 pl-lg-0">
              <div
                id="FREE_plan"
                class="pricing-rates starter-plan FREE_plan shadow rounded"
              >
                <div class="featture_top">
                  <h2 class="title text-uppercase mb-4">
                    Our Free <br />Features
                  </h2>
                  <h2>
                    <span>$90</span><span class="text-success FREE">FREE</span>
                  </h2>
                </div>

                <ul class="feature list-unstyled pl-0">
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Choose a 5-star Writer
                    <span class="text-center price_tag"
                      ><span class="single_price mr-1">$10.00</span
                      ><span class="text-white bg-primary FREE"
                        >FREE</span
                      ></span
                    >
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Turnitin Report
                    <span class="text-center price_tag"
                      ><span class="single_price mr-1">$10.00</span
                      ><span class="text-white bg-primary FREE"
                        >FREE</span
                      ></span
                    >
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Unlimited Revisions
                    <span class="text-center price_tag"
                      ><span class="single_price mr-1">$7.00</span
                      ><span class="text-white bg-primary FREE"
                        >FREE</span
                      ></span
                    >
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Paper Formatting
                    <span class="text-center price_tag"
                      ><span class="single_price mr-1">$9.00</span
                      ><span class="text-white bg-primary FREE"
                        >FREE</span
                      ></span
                    >
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Cover Page
                    <span class="text-center price_tag"
                      ><span class="single_price mr-1">$10.00</span
                      ><span class="text-white bg-primary FREE"
                        >FREE</span
                      ></span
                    >
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Outline
                    <span class="text-center price_tag"
                      ><span class="single_price mr-1">$10.00</span
                      ><span class="text-white bg-primary FREE"
                        >FREE</span
                      ></span
                    >
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Referencing
                    <span class="text-center price_tag"
                      ><span class="single_price mr-1">$7.00</span
                      ><span class="text-white bg-primary FREE"
                        >FREE</span
                      ></span
                    >
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    Dedicated Dashboard
                    <span class="text-center price_tag"
                      ><span class="single_price mr-1">$7.00</span
                      ><span class="text-white bg-primary FREE"
                        >FREE</span
                      ></span
                    >
                  </li>
                  <li class="feature-list">
                    <i class="fas fa-check text-success mr-1"></i>
                    24/7 Order Tracking
                    <span class="text-center price_tag"
                      ><span class="single_price mr-1">$10.00</span
                      ><span class="text-white bg-primary FREE"
                        >FREE</span
                      ></span
                    >
                  </li>
                  <li class="feature-list mb-0">
                    <i class="fas fa-check text-success mr-1"></i>
                    Periodic Email Alerts
                    <span class="text-center price_tag"
                      ><span class="single_price mr-1">$10.00</span
                      ><span class="text-white bg-primary FREE"
                        >FREE</span
                      ></span
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
