{% load static %}
<!--


<section class="section lazyload testimonial_area " id="testimonials">
  <div class="container">
    <div class="row ">
      <div class="col-xl-6">
        <div class="testimonial_right">
          <h2>
            Read Testimonials of Our Most Satisfied Customers
          </h2>
          <p>
            Our multi-talented team has been providing extraordinary
            <span>Paper</span>
            writing services to assist students who rely on us to score excellent grades. Have a look at testimonials and ratings from our happy customers!

          </p>
          <div class="active_md">
            <div class="testimonial_right_btm ">
              <div class="row">
                <div class="col-md-3  col-4">
                  <div class="tesimonial_seals tesimonial_seals1"></div>
                </div>
                <div class="col-md-3 col-4 ">
                  <div class="tesimonial_seals tesimonial_seals2"></div>
                </div>
                <div class="col-md-3 col-4 p-0 ">
                  <div class="tesimonial_seals tesimonial_seals3"></div>
                </div>
                <div class="col-md-3 col-6 p-0 ">
                  <div class="tesimonial_seals tesimonial_seals4"></div>
                </div>
              </div>
            </div>
            <div class="cta_cmn_btn">
              <a href="{% url 'order' %}" class="shared_order">Order Now</a>

              <a href="" class="call-cta">
                <span>
                  <i class="fa fa-phone" style="transform:rotate(45deg); margin-right:5px"  aria-hidden="true"></i>
                </span>
                <p>
                  <em>Call us at</em>
                  +1.877.728.7387
                </p>
              </a>
              <a href="#" class="chaton call-cta">
                <i class="fas fa-comment-dots"></i>
                <p>
                  <em>Click here to</em>
                  Start Live Chat
                </p>
              </a>

            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="testimonial_left">
          <div class="new_testimonial">

            <div id="customers-testimonials-carousel" class="carousel slide fm_pop" data-ride="carousel" data-interval="3000000">
              <ul class="carousel-indicators">
                <li type="button" data-bs-target="#customers-testimonials-carousel" data-bs-slide-to="0" class="active"></li>
                <li type="button" data-bs-target="#customers-testimonials-carousel" data-bs-slide-to="1"></li>
                <li type="button" data-bs-target="#customers-testimonials-carousel" data-bs-slide-to="2"></li>
                <li type="button" data-bs-target="#customers-testimonials-carousel" data-bs-slide-to="3"></li>
              </ul>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="client_test_wrapper">
                    <div class="client_box">
                      <div class="media">
                        <div class="client_mock">
                          <div class="client_des">
                            <img src="{% static 'images/t1.png' %}" alt="business man" class="img-fluid">
                          </div>
                          <h4>
                            Customer ID: 2364
                          </h4>
                          <div class="star_wrapper">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </div>

                        </div>
                        <div class="media-body">
                          <h5 class="mt-0">
                            Highly Recommended
                          </h5>
                          <p>
                            I highly recommend EssaysFeed to all the students who want to score good grades and achieve academic excellence.
                          </p>
                        </div>
                        <div class=" arrow-down"></div>
                      </div>
                      <div class="test_quote">
                        <i class="fa fa-quote-right"></i>
                      </div>
                    </div>
                    <div class="test_card_btm">
                      <h3>
                        Writer's Info
                      </h3>
                      <ul class="blck">
                        <li>
                          <span>
                            Writer's ID
                          </span>
                          <span>
                            WM-336
                          </span>
                        </li>
                        <li>
                          <span>
                            Writer's Degree
                          </span>
                          <span>
                            Ph.D.
                          </span>
                        </li>
                        <li>
                          <span>
                            Total Orders
                          </span>
                          <span>
                            1230
                          </span>
                        </li>
                        <li>
                          <span>
                            Total Reviews
                          </span>
                          <span>
                            1205
                          </span>
                        </li>
                      </ul>
                      <ul class="test_btns">
                        <li>
                          <a href="" class="call-cta">
                            <span>
                              <i class="fa fa-phone " style="transform:rotate(45deg); margin-right:5px" aria-hidden="true"></i>
                            </span>
                            <p>
                              Call us at
                              <em>+1.877.728.7387</em>
                            </p>
                          </a>

                        </li>
                        <li>
                          <a href="" class="shared_order">Hire Writer</a>
                        </li>
                        <li>
                          <a href="reviews.php.html">Check All Reviews</a>
                        </li>
                      </ul>

                    </div>
                  </div>

                </div>

                <div class="carousel-item">
                  <div class="client_test_wrapper">
                    <div class="client_box">
                      <div class="media">
                        <div class="client_mock">
                          <div class="client_des">
                            <img src="{% static 'images/t2.png' %}" alt="business man" class="img-fluid">
                          </div>
                          <h4>
                            Customer ID: 8798
                          </h4>
                          <div class="star_wrapper">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </div>

                        </div>
                        <div class="media-body">
                          <h5 class="mt-0">
                            Great Job Done
                          </h5>
                          <p>
                            EssaysFeed did a great job on my order. Very well organized and professional services.
                          </p>
                        </div>
                        <div class=" arrow-down"></div>
                      </div>
                      <div class="test_quote">
                        <i class="fa fa-quote-right"></i>
                      </div>
                    </div>
                    <div class="test_card_btm">
                      <h3>
                        Writer's Info
                      </h3>
                      <ul class="blck">
                        <li>
                          <span>
                            Writer's ID
                          </span>
                          <span>
                            WM-243
                          </span>
                        </li>
                        <li>
                          <span>
                            Writer's Degree
                          </span>
                          <span>
                            Ph.D.
                          </span>
                        </li>
                        <li>
                          <span>
                            Total Orders
                          </span>
                          <span>
                            1150
                          </span>
                        </li>
                        <li>
                          <span>
                            Total Reviews
                          </span>
                          <span>
                            1140
                          </span>
                        </li>
                      </ul>
                      <ul class="test_btns">
                        <li>
                          <a href="" class="call-cta">
                            <span>
                              <i class="fa fa-phone" style="transform:rotate(45deg); margin-right:5px" aria-hidden="true"></i>
                            </span>
                            <p>
                              Call us at
                              <em>+1.877.728.7387</em>
                            </p>
                          </a>

                        </li>
                        <li>
                          <a href="" class="shared_order">Hire Writer</a>
                        </li>
                        <li>
                          <a href="reviews.php.html">Check All Reviews</a>
                        </li>
                      </ul>

                    </div>
                  </div>

                </div>
                <div class="carousel-item">
                  <div class="client_test_wrapper">
                    <div class="client_box">
                      <div class="media">
                        <div class="client_mock">
                          <div class="client_des">
                            <img src="{% static 'images/t3.png' %}" alt="business man" class="img-fluid">
                          </div>
                          <h4>
                            Customer ID: 5888
                          </h4>
                          <div class="star_wrapper">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </div>

                        </div>
                        <div class="media-body">
                          <h5 class="mt-0">
                            Talented Team
                          </h5>
                          <p>
                            They have an extremely cooperative & talented staff who know exactly what you want and deliver precisely that.
                          </p>
                        </div>
                        <div class=" arrow-down"></div>
                      </div>
                      <div class="test_quote">
                        <i class="fa fa-quote-right"></i>
                      </div>
                    </div>
                    <div class="test_card_btm">
                      <h3>
                        Writer's Info
                      </h3>
                      <ul class="blck">
                        <li>
                          <span>
                            Writer's ID
                          </span>
                          <span>
                            WM-136
                          </span>
                        </li>
                        <li>
                          <span>
                            Writer's Degree
                          </span>
                          <span>
                            Ph.D.
                          </span>
                        </li>
                        <li>
                          <span>
                            Total Orders
                          </span>
                          <span>
                            1070
                          </span>
                        </li>
                        <li>
                          <span>
                            Total Reviews
                          </span>
                          <span>
                            1045
                          </span>
                        </li>
                      </ul>
                      <ul class="test_btns">
                        <li>
                          <a href="" class="call-cta">
                            <span>
                              <i class="fa fa-phone " style="transform:rotate(45deg); margin-right:5px" aria-hidden="true"></i>
                            </span>
                            <p>
                              Call us at
                              <em>+1.877.728.7387</em>
                            </p>
                          </a>

                        </li>
                        <li>
                          <a href="" class="shared_order">Hire Writer</a>
                        </li>
                        <li>
                          <a href="reviews.php.html">Check All Reviews</a>
                        </li>
                      </ul>

                    </div>
                  </div>

                </div>

                <div class="carousel-item">
                  <div class="client_test_wrapper">
                    <div class="client_box">
                      <div class="media">
                        <div class="client_mock">
                          <div class="client_des">
                            <img src="{% static 'images/t4.png' %}" alt="business man" class="img-fluid">
                          </div>
                          <h4>
                            Customer ID: 9199
                          </h4>
                          <div class="star_wrapper">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </div>

                        </div>
                        <div class="media-body">
                          <h5 class="mt-0">
                            Top Services
                          </h5>
                          <p>
                            It was a wonderful experience with EssaysFeed. Will definitely hire them for my next project.
                          </p>
                        </div>
                        <div class=" arrow-down"></div>
                      </div>
                      <div class="test_quote">
                        <i class="fa fa-quote-right"></i>
                      </div>
                    </div>
                    <div class="test_card_btm">
                      <h3>
                        Writer's Info
                      </h3>
                      <ul class="blck">
                        <li>
                          <span>
                            Writer's ID
                          </span>
                          <span>
                            WM-901
                          </span>
                        </li>
                        <li>
                          <span>
                            Writer's Degree
                          </span>
                          <span>
                            Ph.D.
                          </span>
                        </li>
                        <li>
                          <span>
                            Total Orders
                          </span>
                          <span>
                            980
                          </span>
                        </li>
                        <li>
                          <span>
                            Total Reviews
                          </span>
                          <span>
                            955
                          </span>
                        </li>
                      </ul>
                      <ul class="test_btns">
                        <li>
                          <a href="" class="call-cta">
                            <span>
                              <i class="fa fa-phone" style="transform:rotate(45deg); margin-right:5px" aria-hidden="true"></i>
                            </span>
                            <p>
                              Call us at
                              <em>+1.877.728.7387</em>
                            </p>
                          </a>

                        </li>
                        <li>
                          <a href="" class="shared_order">Hire Writer</a>
                        </li>
                        <li>
                          <a href="reviews.php.html">Check All Reviews</a>
                        </li>
                      </ul>

                    </div>
                  </div>

                </div>

              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="active_sm">
                <div class="testimonial_right_btm ">
                  <div class="row">
                    <div class="col-md-3  col-6">
                      <div class="tesimonial_seals tesimonial_seals1"></div>
                    </div>
                    <div class="col-md-3 col-6 pl-sm-0">
                      <div class="tesimonial_seals tesimonial_seals2"></div>
                    </div>
                    <div class="col-md-3 col-6">
                      <div class="tesimonial_seals tesimonial_seals3"></div>
                    </div>
                    <div class="col-md-3 col-6 pl-sm-0">
                      <div class="tesimonial_seals tesimonial_seals4"></div>
                    </div>
                  </div>
                </div>
                <div class="cta_cmn_btn">
                  <a href="" class="shared_order">Order Now</a>
                  <span class="four-seven">
                    <img src="{% static 'images/twenty-four.png' %}" alt="not loaded">
                    <span class="twnty">24/7 Available</span>
                  </span>
                  <a href="" class="call-cta">
                    <span>
                      <i class="fa fa-phone " style="transform:rotate(45deg); margin-right:5px" aria-hidden="true"></i>
                    </span>
                    <p>
                      <em>Call us at</em>
                      +1.877.728.7387
                    </p>
                  </a>
                  <a href="#" class="chaton call-cta">
                    <i class="fas fa-comment-dots"></i>
                    <p>
                      <em>Click here to</em>
                      Start Live Chat
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    
  </div>
</section>
-->
