{% load static %}

<section class="services lazy" id="services_section">
  <!--Heading area-->
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="heading_area text-center section-title">
          <hgroup>
            <h2 class="main-title">
              Services We Offer
            </h2>
          </hgroup>
          <p class="main_paragraph txt_medblack">
            Join us for the best experience while seeking writing assistance in your academic life.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="left-wrapper">
          <p class="main_paragraph txt_medblack pt-5">
            We have a knack for dealing with a wide range of academic documents related to all the subject areas. Our experts have adequate experience and we have benefited many students over the years to achieve academic success.
          </p>
        </div>
        <div class="services-list">
          <a href="#">Essays</a>
          <a href="#">Assignments</a>
          <a href="#">Research Papers</a>
          <a href="#">Term Papers</a>
          <a href="#">Homework</a>
          <a href="#">Thesis</a>
          <a href="#" class="mb-0">Dissertation</a>
          <a href="javascript:void(0)" class="last-service-item mb-0">and many more…</a>
        </div>
        <div class="cta_cmn_btn ">
          <a href="{% url 'order' %}" class="shared_order">Order Now</a>
          <a href="" class="call-cta">
            <span>
              <i class="fa fa-phone" aria-hidden="true"></i>
            </span>
            <p>
              <em>Call us at</em>
              +1.877.728.7387
            </p>
          </a>
          <a href="#" class="chaton call-cta">
            <i class="fas fa-comment-dots"></i>
            <p>
              <em>Click here to</em>
              Start Live Chat
            </p>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col-md-6">
            <div class="main">
              <div class="service service_1">
                <div class="service-logo">
                  <img src="{% static 'images/writing.png' %}" class="img-fluid">
                </div>
                <h4>Writing</h4>
                <p class="txt_medblack">Hire a qualified writer belonging to your subject area to get 100% plagiarism-free writing at affordable prices.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="main">
              <div class="service">
                <div class="service-logo">
                  <img src="{% static 'images/editing.png' %}" class="img-fluid">

                </div>
                <h4>Editing & Proofreading</h4>
                <p class="txt_medblack">Our experts will remove all the grammatical and contextual mistakes via thorough editing and proofreading!</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12 our_services">
        <div class="service-categories text-xs-center">
          <div class="container">
            <div class="auto_slideshow">
              <div class="moving_slowly">
                <div class="first-row">
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon1"></div>
                        <h4 class="card-title exsmall_title txt_medblack">History</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon2"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Finance</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon3"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Statistical Analysis</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon4"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Law</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon5"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Statistics</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon6"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Accounting</h4>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon1"></div>
                        <h4 class="card-title exsmall_title txt_medblack">History</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon2"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Finance</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon3"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Statistical Analysis</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon4"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Law</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon5"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Statistics</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon6"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Accounting</h4>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon1"></div>
                        <h4 class="card-title exsmall_title txt_medblack">History</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon2"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Finance</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon3"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Statistical Analysis</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon4"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Law</h4>
                      </div>
                    </div>
                  </div>

                </div>
                <!--End Row-->
                <div class="second_row">
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon17"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Psychology</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon18"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Religion and Theology</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon19"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Sociology</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon20"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Technology</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon21"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Tourism</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon22"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Auditing</h4>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon17"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Psychology</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon18"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Religion and Theology</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon19"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Sociology</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon20"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Technology</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon21"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Tourism</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon22"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Auditing</h4>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon17"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Psychology</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon18"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Religion and Theology</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon19"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Sociology</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card service-card card-inverse">
                      <div class="card-block">
                        <div class="subjects_icon icon20"></div>
                        <h4 class="card-title exsmall_title txt_medblack">Technology</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!--End Row-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Content area-->

</section>