<tbody>
  <tr>
    <td colspan="2" class="label tbl_head">
      Order Details</td>
    <td class="text-right">
      <span>
        <a class="editOrder" id="edit-order" href="">
          Edit Order
          <i class="far fa-edit"></i>
        </a>
      </span>
    </td>
  </tr>
  <tr>
    <td class="label">Order ID</td>
    <td colspan="2" id="lbl_orderID">ESFOC-12559457
    </td>
  </tr>
  <tr>
    <td class="label">Academic Level</td>
    <td colspan="2">High School
    </td>
  </tr>
  <tr>
    <td class="label">Service</td>
    <td colspan="2">Writing</td>
  </tr>
  <tr>
    <td class="label">Document Type</td>
    <td colspan="2">Essay</td>
  </tr>
  <tr>
    <td class="label">Topic</td>
    <td colspan="2">bSEDhbewr4
    </td>
  </tr>
  <tr>
    <td class="label">Deadline</td>
    <td colspan="2">15 days
    </td>
  </tr>
  <tr>
    <td class="label">Subject</td>
    <td colspan="2">Communications and Media
    </td>
  </tr>
  <tr>
    <td class="label">No. of Pages</td>
    <td colspan="2">4
    </td>
  </tr>

  <tr>
    <td class="label">Line Spacing</td>
    <td>Double Spaced</td>
  </tr>
  <tr>
    <td class="label lbl_guideline">Guidelines</td>
    <td colspan="2">
      <div class="guideline_content text-left">fgxkrsi6rtjy6ju
      </div>
    </td>
  </tr>
</tbody>