{% load static %}

<div id="sticky">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="supportBoxTop">
            <p class="text-center">
              Contact Customer Support
            </p>
          </div>
        </div>
      </div>
      <div class="orderBoxPrice">
        <div class="row">
          <div class="col-md-12">
            <div class="orderPriceBg">
              <table class="table orderBoxPara bg-transparent mb-2">
                <tbody>
                  <tr>
                    <td class="supportBoxIcons">
                      <img src="{% static 'content/Cosmo/UserArea/images/chatIcon.png' %}" class="img-responsive" alt="Img">
                    </td>
                    <td class="supportBoxIconsText">
                      <a href="#!" id="chaton" class="chaton">Chat with a Representative</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="supportBoxIcons">
                      <img src="{% static 'content/Cosmo/UserArea/images/callback.png' %}" alt="callBack" class="img-responsive">
                    </td>
                    <td class="supportBoxIconsText">
                      <a target="_blank" href="/userarea/requestcall">Request Call Back</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="supportBoxIcons">
                      <img src="{% static 'content/Cosmo/UserArea/images/requestQuote.png' %}" alt="requestQuote" class="img-responsive">
                    </td>
                    <td class="supportBoxIconsText">
                      <a target="_blank" href="/userarea/freeinquiry">Free Inquiry</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="supportBoxIcons">
                      <img src="{% static 'content/Cosmo/UserArea/images/carePapers.png' %}" alt="carePapers" class="img-responsive">
                    </td>
                    <td class="supportBoxIconsText">
                      <div class="mail-text desktop d-none d-sm-block" data-tooltip="Click to Copy">
                        <a class="email" href="mailto: care@essaysfeed.com" id="anch_Email">care@essaysfeed.com</a>
                      </div>
                      <div class="mobile d-block d-sm-none">
                        <a class="email" href="mailto: care@essaysfeed.com">care@essaysfeed.com</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="supportBoxIcons">
                      <img src="{% static 'content/Cosmo/UserArea/images/phoneIcon.png' %}" alt="phoneIcon" class="img-responsive">
                    </td>
                    <td class="supportBoxIconsText">
                      <a href="tel: +1 (877) 728-7387">+1 (877) 728-7387</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row paddingRow">
    <div class="col-md-12">
      <span class="">
        <a href="" class="btn btn-primary btnFullWidth rounded-0">Place New Order</a>
      </span>
      <br>
    </div>
  </div>
</div>
