{% load static %}

<div class="row images_main">
  <div class="col-lg-12">
    <a href="#" class="chaton">
      <div class="seal_icon1">
        <div class="title_side">
          <h4>Study With Us</h4>
          <h5>Save time and let us handle everythng for you</h5>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row">&nbsp;</div>

<div class="row images_main">
  <div class="col-lg-12 col-xs-12">
    <a href="#" class="chaton">
      <div class="sidebar-2">
        <div class="circle_bx">
          <div class="icon-user">
            <span>
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="sidebar-content">
          <h1 class="commen-content">
            <span class="line1"> REFER FRIENDS TO </span>
            <br />
            <span class="line2"> EARN CREDITs </span>
          </h1>
        </div>
        <div class="excl_text">
          <div class="discount-text">
            <h3 class="referall-content">
              <b> 1000</b> credits will allow you to order <b>one task </b> for
              free
            </h3>
          </div>
        </div>
        <div class="excl_text_after"></div>
        <div class="u-shape-text">
          <h1>U</h1>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row">&nbsp;</div>

<div class="row">&nbsp;</div>
