{% extends "accounts/profile/base.html" %}

{% load static %}

{% block css %}{% endblock css %}

{% block main %}

  <div class="container">
    <div class="row">
      <div class="col-md-12 main_title">
        <h1>
          <span>Register a Complaint</span>
        </h1>
        <span class="subheader">
          Please inform us about any complaints and problems you may have
        </span>
        <!--End Row-->
      </div>
    </div>
  </div>

  {{ block.super }}

  <div class="container">
    <!-- Team Members Row -->
    <div class="row py-2">
      <div class="col-lg-8 col-sm-12 register_complain">
        <div class="area">
          <form method="post" action="">
            {% csrf_token %}
            <table class="table">
              <tbody>
                <tr>
                  <td class="tableHeaderNew" id="newtab1">
                    Order Details
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="innerTableBorder">
                    <p>
                      <strong>Order Type:</strong>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="innerTableBorder">
                    {% render_field form.order_type class="form-control opr" %}
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="tableHeaderNew innerTableBorder" id="Td1">
                    Nature Of Complaint
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="innerTableBorder">
                    <p>
                      <strong>What kind of complaint you want to submit?</strong>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="innerTableBorder">
                    {% render_field form.nature  class="form-control" %}
                  </td>
                </tr>
                <tr>
                  <td class="innerTableBorder">
                    <p>
                      <strong>Explain your complaint<span></span></strong>
                      <small>(Please provide your order ID number)</small>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="innerTableBorder">
                    {% render_field form.order_id class="form-control"  %}
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <tbody>
                <tr>
                  <td class="tableHeaderNew">
                    We'll get back to you soon
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <tbody>
                <tr>
                  <td class="innerTableBorder">
                    <div class="float-start pt-2">
                      <p>
                        <strong>How do you want us to get back to you?:</strong>
                      </p>
                    </div>

                  </td>
                  <td class="innerTableBorder float-end">
                    <table id="rd_communication_email" border="0">
                      <tbody>
                        <tr>
                            {% render_field form.channel %}
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              
              </tbody>
            </table>
        
            <table class="table borderless">
              <tbody>
                <tr>
                  <td class="innerTableBorder text-center">
                    {% comment %} <a href="{% url 'users:dispute_register_success_view' %}" type="submit" name="btn_share_complaint" value="Submit Complaint" id="btn_share_complaint" class="btn-primary btn">Submit Complaint</a> {% endcomment %}

                    <button type="submit" class="btn-primary btn">
                      Submit Complaint
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
          </form>

        </div>
      </div>

      <div class="col-lg-4 col-sm-12">
        {% include "accounts/profile/refcard.html" %}
      </div>
    </div>
  </div>

  <!-- Common Footer Included -->

{% endblock main %}