{% extends "accounts/profile/base.html" %}

{% load static %}

{% block css %}{% endblock css %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 main_title">
        <h1>
          <span>Update Profile</span>
        </h1>
        <span class="subheader">
          View your profile or update personal details whenever you like
        </span>
        <!--End Row-->
      </div>
    </div>
  </div>
  {{ block.super }}

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <section id="services" class="servicesBg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            <b></b>
          </h2>
        </div>
      </div>

      <div class="mainOrder row">
        <div class="col-lg-8 col-sm-12 white-text wow fadeInLeft">
          <!-- Start Project Details-->

          <div class="row">
            <div class="col-md-12">
              <span id="lbl_successmsg" class="text-success"></span>
              <span id="lbl_errormsg" class="text-danger"></span>

              <div class="orderBox">
                <p class="orderBoxHeading">
                  Profile Details
                </p>
                <div class="orderBoxInner">
                  <div class="row">
                    <div class="col-md-12">
                      <form>
                        <div class="row">
                          <div class="col-md-3">
                            <p class="orderBoxPara">Name</p>
                          </div>
                          <div class="col-md-7 col-9">
                            <input name="FirstName" type="text" value="{{client.full_name}}" id="txt_fname" class="form-control ms-2" placeholder="Name" maxlength="200" readonly="readonly"/>
                          </div>

                          <div class="col-md-2 col-3">
                            <i id="updateNameIcon" class="fa fa-edit" title="Edit Name"></i>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <p class="orderBoxPara">Password</p>
                          </div>
                          <div class="col-md-7 col-9">
                            <input type="password" class="form-control ms-2" placeholder="Password" readonly="readonly" value="12345678">

                          </div>
                          <div class="col-md-2 col-3">
                            <i class="fa fa-edit" id="updatepasswordIcon" title="Update Password"></i>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <p class="orderBoxPara">Email Address</p>
                          </div>
                          <div class="col-md-7 col-9">
                            <input name="Email" type="text" value="{{client.user.email}}" id="txt_email" readonly="readonly" class="form-control ms-2" placeholder="Current email address">
                          </div>
                          <div class="col-md-2 col-3">
                            <i id="UpdateEmailIcon" class="fa fa-edit" title="Edit Email"></i>
                          </div>
                        </div>
                        {% comment %} <div class="row">
                          <div class="col-md-3">
                            <p class="orderBoxPara">Phone Number</p>
                          </div>
                          <div class="col-md-7 col-9">
                            <input type="text" value="{{client.phone_number}}" readonly="readonly" id="phonetxb" class="form-control ms-2" placeholder="Phone Number">
                          </div>
                          <div class="col-md-2 col-3">
                            <i id="UpdatePhoneIcon" class="fa fa-edit" title="Edit Phone"></i>
                          </div>
                        </div> {% endcomment %}
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Start More Details-->

          <br>
        </div>
        <div class="col-lg-4 col-sm-12 wow fadeInRight">
          {% include "accounts/profile/customersupportcard.html" %}
        </div>
      </div>
    </div>
    <!-- Upadate password Modal -->
    {% include "accounts/profile/modals/update/password.html" %}

    <!-- Upadate Name Modal -->
    {% include "accounts/profile/modals/update/name.html" %}
    
    <!-- Upadate Email Modal -->
    {% include "accounts/profile/modals/update/email.html" %}
    
    <!-- Upadate Phone Modal -->
    {% include "accounts/profile/modals/update/phone.html" %}
  
 
</div>

</section>

{% endblock main %}
