{% extends "accounts/profile/base.html" %}

{% load static %}

{% block css %}


{% endblock css %}

{% block main %}

  {{ block.super }}
    <section id="services" class="servicesBg pt-3">
      <div class="container">
        <div class="mainOrder row">
          <div class="col-lg-8 col-sm-12 white-text wow fadeInLeft">
            <div class="row">
              <div class="col-6 col-sm-6 welcome padd-left">
                <p>WELCOME
                  <span class="user-name">
                    <a>{{client}}</a></span></p>
              </div>
              <div class="col-6 col-sm-6 text-end padd-right">
                <div class="place-order">
                  <a href="{% url 'order' %}">Place New Order</a>
                </div>
              </div>
            </div>

            {% include "accounts/profile/order/active.html" %}


            {% include "accounts/profile/order/cancelled.html" %}


            {% include "accounts/profile/order/completed.html" %}

            <div class="table-responsive accountdetails mt-5 float-left hidden-xs pl-4 pr-4">
              <table class="preview-table table-striped table table-hover">
                <tbody>
                  <tr>
                    <td colspan="4" class="label tbl_head">Account Details</td>
                  </tr>
                  <tr>
                    <td class="label">Name</td>
                    <td>{{client}}</td>
                    <td class="label">Customer ID</td>
                    <td>{{client.clientId}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="table-responsive accountdetails mt-3 float-left hidden-md pl-4 pr-4">
              <table class="preview-table table table-striped table-hover">
                <tbody>
                  <tr>
                    <td colspan="4" class="label tbl_head">Account Details</td>
                  </tr>
                  <tr>
                    <td class="label">Name</td>
                    <td>{{client}}</td>
                  </tr>
                  <tr>
                    <td class="label">Customer ID</td>
                    <td>{{client.clientId}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 wow fadeInRight">
            {% include "accounts/profile/customersupportcard.html" %}
          </div>
        </div>
      </div>
    </section>


{% endblock main %}


{% block modal %}

<div id="myModal" class="modal ordercancel" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please give a reason for cancelling your order.</h4>
        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
      </div>
      <form action="" method="post" id="cancelOrder-form">
        <input name="" type="hidden" value=""/>
        <div class="modal-body">
          <input type="hidden" name="orderID" id="Cancel_OrderID"/>
          <textarea name="comments" rows="2" cols="20" id="txt_feedback" class="form-control" required="" autofocus=""></textarea>
          <span id="reason_error" class="text-danger fw-bold dis_none">Please provide reason.</span>
        </div>
        <div class="modal-footer">
          <input name="btn_feedback" value="Submit" id="btn_feedback" class="btn btn-primary float-right" type="submit">
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock modal %}