{% load static %}


<section class="bg-half-170 with-gradient home_ser" id="home">
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row mt-md-5">
          <span id="contact" class="anchor"></span>

          <div class="col-xl-7">
            <div class="title-heading mt-4">
              <h2 class="heading text-white mb-3">Affordable Paper Writing Service</h2>
              <p class="para-desc text-light para-desc-main">Bid farewell to academic stress and welcome outstanding results.<br class="ban_tagbreak">
                Our expert writing services pave the way to your triumph.</p>
              <div class="watch-video mt-4 pt-2   d-md-block">
                <div class="row">
                  <div class="col-md-6 cpr">
                    <div class="banner_feature_wraper banner_feature_wraper_line">
                      <span><img src="{% static 'images/qoe.png' %}" alt="qoe"></span>Premium Quality Academic Papers
                    </div>
                  </div>
                  <div class="col-md-6 ">
                    <div class="banner_feature_wraper">
                      <span><img src="{% static 'images/phd-banner.png' %}" alt="phd-banner"></span>Top Ph.D. Experts

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="banner_feature_wraper under_lined banner_feat_mtp">

                      <span><img src="{% static 'images/fpr.png' %}" alt="fpr"></span>100% Plagiarism Free
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="banner_feature_wraper under_lined banner_feat_mtp">
                      <span><img src="{% static 'images/ufr.png' %}" alt="ufr">
                      </span>Unlimited Free Revisions

                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="banner_feature_wraper under_lined banner_feat_mtp">

                      <span><img src="{% static 'images/upfront.png' %}" alt="qoe"></span>No Upfront Payment
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="banner_feature_wraper banner_feat_mtp">
                      <span><img src="{% static 'images/po.png' %}" alt="po"></span>Free Features - Worth
                      <span class="bld">$90</span>

                    </div>

                  </div>

                </div>
              </div>
              <div class="get_credit_worth_wrapper">
                <a href="reviews.php.html">
                  <div class="banner_secnd">
                    <div class="media">
                      <img src="{% static 'images/trustpilot_icon.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="mt-0">4.7</h5>
                        <span>

                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star star-nine" aria-hidden="true"></i>
                        </span>
                        <p>
                          TrustPilot
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="reviews.php.html">
                  <div class="banner_secnd">
                    <div class="media">
                      <img src="{% static 'images/ef_web-favicon.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="mt-0">4.9</h5>
                        <span>

                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star star-nine" aria-hidden="true"></i>
                        </span>
                        <p>
                          EssaysFeed
                        </p>
                      </div>
                    </div>
                  </div>
                </a>

                <div class="bizprobe_btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <div class="banner_secnd banner_secnd_web">
                    <div class="media">
                      <img src="{% static 'images/biz-banner.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="mt-0">4.9</h5>
                        <span>

                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star star-nine" aria-hidden="true"></i>
                        </span>
                        <p>
                          BizProbe
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="banner_ratings ">
                <ul class="mb-0">
                  <li>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </li>
                  <li>
                    Trusted By 40K+ Students &
                    <span class="bld">Rated 4.9/5</span>
                    Based on
                    <span class="bld">30K+ Reviews</span>
                    <div class="banner_arrow">
                      <img src="{% static 'images/dotted-arrow.png' %}" class="img-fluid">
                    </div>
                  </li>
                </ul>
              </div>
              <div class="feature_logo_sprite  d-md-block">
                <ul>
                  <li>
                    <div class="feat_logo_form feat_logo_1a"></div>
                  </li>
                  <li>
                    <div class="feat_logo_form feat_logo_2a"></div>
                  </li>
                  <li>
                    <div class="feat_logo_form feat_logo_3a"></div>
                  </li>

                </ul>
              </div>

            </div>
          </div>
          <div class="col-xl-5 mt-4 pt-2 mt-sm-0 pt-sm-0 ">
            <div class="banner_frm_wraper">
              <div class="contact_wrapper calculate_order calculate_order_form">

                {% include "components/home/register.html" %}
                <!--Error Message-->
                <div class="col-md-12 pad-25">
                  <div id="auto-response">
                    <p>
                      Warning! Operation Unsuccessfull,Invalid Data
                    </p>
                  </div>
                </div>
                <div class="result"></div>
                <!-- /.result -->

              </div>
              <div class="form_btm">
                <span>
                  <img src="{% static 'images/lead-garant.png' %}" alt="guarantee" class="img-fluid">
                </span>Lowest Price Guarantee
              </div>

            </div>
          </div>
          <!--end col-->

          <!--end col-->
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="watch-video mt-4 pt-2 d-none">
              <div class="row">
                <div class="col-md-4">
                  <div class="banner_feature_wraper">
                    <span>
                      <i class="fas fa-file-alt"></i>
                    </span>100% Plagiarism FREE
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="banner_feature_wraper under_lined">
                    <span>
                      <i class="fas fa-star"></i>
                    </span>Rating 4.9/5 (5K+)
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="banner_feature_wraper">
                    <span><img src="{% static 'images/upfront.png' %}" alt="turnaround"></span>No Upfront Payment
                  </div>
                </div>
              </div>
              <div class="row banner_feat_mtp">
                <div class="col-md-4">
                  <div class="banner_feature_wraper ">
                    <span>
                      <i class="fa fa-history" aria-hidden="true"></i>
                    </span>Unlimited Revisions
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="banner_feature_wraper">
                    <span>
                      <i class="fas fa-clipboard-list"></i>
                    </span>Free Features Worth
                    <span class="disp">$90</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="feature_logo_sprite   d-none">
              <ul>
                <li>
                  <div class="feat_logo feat_logo_1"></div>
                </li>
                <li>
                  <div class="feat_logo feat_logo_2"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>

      <!--end container-->
    </div>
    <!--end home desc center-->
  </div>
  <!--end home center-->
</section>