{% load static %}

<section class="bg-half-170 with-gradient home_ser" id="home">
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row mt-md-5">
          <span id="contact" class="anchor"></span>

          <div class="col-xl-7">
            <div class="title-heading mt-4">
              <h2 class="heading text-white mb-3">
                Affordable Paper Writing Service
              </h2>
              <p class="para-desc text-light para-desc-main">
                Bid farewell to academic stress and welcome outstanding
                results.<br class="ban_tagbreak" />
                Our expert writing services pave the way to your triumph.
              </p>
              <div class="watch-video mt-4 pt-2 d-md-block">
                <div class="row">
                  <div class="col-md-6 cpr">
                    <div
                      class="banner_feature_wraper banner_feature_wraper_line"
                    >
                      <span><i class="fas fa-medal"></i></span>Quality Academic
                      Papers
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="banner_feature_wraper">
                      <span><i class="fas fa-graduation-cap"></i></span>Long-Term Tasks
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="banner_feature_wraper under_lined banner_feat_mtp"
                    >
                      <span><i class="fas fa-check-circle"></i></span>100%
                      Plagiarism Free
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="banner_feature_wraper under_lined banner_feat_mtp"
                    >
                      <span><i class="fas fa-sync"></i> </span>Unlimited Free
                      Revisions
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="banner_feature_wraper under_lined banner_feat_mtp"
                    >
                      <span><i class="fas fa-hand-holding-usd"></i></span>No
                      Upfront Payment
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="banner_feature_wraper banner_feat_mtp">
                      <span><i class="fas fa-gift"></i></span>Free Features -
                      Worth
                      <span class="bld">$99</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="banner_ratings">
                <ul class="mb-0">
                  <li>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </li>
                  <li>
                    Trusted By 20K+ Students & clients
                    <div class="banner_arrow">
                      <img
                        src="{% static 'images/dotted-arrow.png' %}"
                        class="img-fluid"
                      />
                    </div>
                  </li>
                </ul>
              </div>
              <div class="feature_logo_sprite d-md-block">
                <ul>
                  <li>
                    <div class="feat_logo_form feat_logo_1a"></div>
                  </li>
                  <li>
                    <div class="feat_logo_form feat_logo_2a"></div>
                  </li>
                  <li>
                    <div class="feat_logo_form feat_logo_3a"></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
            <div class="banner_frm_wraper">
              <div class="contact_wrapper calculate_order calculate_order_form">
                {% include "components/home/register.html" %}
                <!--Error Message-->
                <div class="col-md-12 pad-25">
                  <div id="auto-response">
                    <p>Warning! Operation Unsuccessfull,Invalid Data</p>
                  </div>
                </div>
                <div class="result"></div>
                <!-- /.result -->
              </div>
              <div class="form_btm">
                <span>
                  <img
                    src="{% static 'images/lead-garant.png' %}"
                    alt="guarantee"
                    class="img-fluid"
                  /> </span
                >Lowest Price Guarantee
              </div>
            </div>
          </div>
          <!--end col-->

          <!--end col-->
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="watch-video mt-4 pt-2 d-none">
              <div class="row">
                <div class="col-md-4">
                  <div class="banner_feature_wraper">
                    <span> <i class="fas fa-file-alt"></i> </span>100%
                    Plagiarism FREE
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="banner_feature_wraper under_lined">
                    <span> <i class="fas fa-star"></i> </span>Rating 4.9/5 (5K+)
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="banner_feature_wraper">
                    <span
                      ><img
                        src="{% static 'images/upfront.png' %}"
                        alt="turnaround" /></span
                    >No Upfront Payment
                  </div>
                </div>
              </div>
              <div class="row banner_feat_mtp">
                <div class="col-md-4">
                  <div class="banner_feature_wraper">
                    <span>
                      <i class="fa fa-history" aria-hidden="true"></i> </span
                    >Unlimited Revisions
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="banner_feature_wraper">
                    <span> <i class="fas fa-clipboard-list"></i> </span>Free
                    Features Worth
                    <span class="disp">$90</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="feature_logo_sprite d-none">
              <ul>
                <li>
                  <div class="feat_logo feat_logo_1"></div>
                </li>
                <li>
                  <div class="feat_logo feat_logo_2"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>

      <!--end container-->
    </div>
    <!--end home desc center-->
  </div>
  <!--end home center-->
</section>
